<h1>Import twitter list</h1>

<%= form_for(@twitter_list) do |f| %>
  <% if @twitter_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@twitter_list.errors.count, "error") %> prohibited this list from being imported:</h2>

      <ul>
      <% @twitter_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Twitter name' %><br />
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :list %><br />
    <%= f.text_field :list %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>  
<% end %>
