<% content_for :feeds do %>
  <%= auto_discovery_link_tag :rss, current_admin_rss %>
<% end %>

<% if flash[:review_message] %>
  <div class="admin_error error">
    <%= flash[:review_message] %>
  </div>
<% end %>

<div class="admin_header">
  <ul class="nav">
    <li>
      <%= link_to_unless_current t(:for_review, :scope => [:politwoops,:admin]), admin_review_path %>
    </li>
    <li>
      <%= link_to_unless_current t(:approved, :scope => [:politwoops,:admin]), admin_approved_path %>
    </li>
    <li>
      <%= link_to_unless_current t(:unapproved, :scope => [:politwoops,:admin]), admin_unapproved_path %>
    </li>
  </ul>
</div>

<% @tweets.each do |tweet| %>
  <%= render :partial => "tweets/tweet", :object => tweet, :locals => {:admin => true} %>
<% end %>

<div id="pager">
  <%= will_paginate @tweets, :next_label => t(:next, :scope => [:politwoops]), :prev_label => t(:previous, :scope => [:politwoops]) %>
</div>

<script type="text/javascript">
  $(function() {
    $("a.edit, a.cancel").click(function() {
      var container = $(this).parents("div.admin.review");
      container.find("div.review_controls").toggle();
      container.find("div.edit_controls").toggle();
      return false;
    });
  });
</script>
