<% content_for :feeds do %>
  <%= auto_discovery_link_tag :rss, current_admin_rss %>
<% end %>

<% if flash[:review_message] %>
  <div class="admin_error error">
    <%= flash[:review_message] %>
  </div>
<% end %>

<div class="admin_header">
  <div class="details">
    Last tweet found <%= latest_tweet.modified.strftime "%B %d, %Y at %I:%M %p" %>
    <br/>
    Last deleted tweet found <%= latest_deleted_tweet.modified.strftime "%B %d, %Y at %I:%M %p" %>
    <br/>
    <a href="http://wiki.sunlightfoundation.com/index.php/Politwoops_Moderation_Tutorial">Moderation guidelines</a>
  </div>

  <ul class="nav">
    <li>
      <%= link_to_unless_current "For Review", admin_review_path %>
    </li>
    <li>
      <%= link_to_unless_current "Approved", admin_approved_path %>
    </li>
    <li>
      <%= link_to_unless_current "Unapproved", admin_unapproved_path %>
    </li>
  </ul>
</div>

<%= render :partial => "tweets/tweet", :collection => @tweets, :as => :tweet, :locals => {:admin => true} %>

<div id="pager">
  <%= will_paginate @tweets, :next_label => t(:next, :scope => [:politwoops]), :prev_label => t(:previous, :scope => [:politwoops]) %>
</div>

<script type="text/javascript">
  $(function() {
    $("a.edit, a.cancel").click(function() {
      var container = $(this).parents("div.admin.review");
      container.find("div.review_controls").toggle();
      container.find("div.edit_controls").toggle();
      return false;
    });
  });
</script>
