<% content_for :feeds do %>
  <%= auto_discovery_link_tag :rss, current_admin_rss %>
<% end %>

<% if flash[:review_message] %>
  <div class="admin_error error">
    <%= flash[:review_message] %>
  </div>
<% end %>

<div class="admin_header">
  <ul class="nav nav-tabs">
    <li class="active">
      <%= link_to_unless_current t(:for_review, :scope => [:politwoops,:admin]), admin_review_path %>
    </li>
    <li>
      <%= link_to_unless_current t(:approved, :scope => [:politwoops,:admin]), admin_approved_path %>
    </li>
    <li>
      <%= link_to_unless_current t(:unapproved, :scope => [:politwoops,:admin]), admin_unapproved_path %>
    </li>
  </ul>
</div>
    <div>
      <form>
      <select name = "politician_id" id="pol_select">
          <% for @politican in @all_politicians %>
            <option value="<%= @politican.id %>" <% if @politican.id == params[:politician_id] %> SELECTED <%end%> > 
              <%= "#{@politican.first_name} #{@politican.middle_name} #{@politican.last_name} - @#{@politican.user_name}" %>
              <% if !@politican.party.nil? %>
                <%=" -- #{@politican.party.name}"%>
              <% end %>
            </option>
          <% end %>
      </select>
      <button style="display: inline-block;" type="submit"><%=t(:search, :scope => [:politwoops,:form])%></button>
    </form>
    </div>
  </br>

<% @tweets.each do |tweet| %>
  <%= render :partial => "tweets/tweet", :object => tweet, :locals => {:admin => true} %>
<% end %>

<button value="<%= t(:reject_all_selected, :scope => [:politwoops,:admin]) %>" onclick="reject_all_selected()" > <%= t(:reject_all_selected, :scope => [:politwoops,:admin]) %> </button>

<div id="pager">
  <%= will_paginate @tweets, :next_label => t(:next, :scope => [:politwoops]), :prev_label => t(:previous, :scope => [:politwoops]) %>
</div>

<script type="text/javascript">
  $(function() {
    $("a.edit, a.cancel").click(function() {
      var container = $(this).parents("div.admin.review");
      container.find("div.review_controls").toggle();
      container.find("div.edit_controls").toggle();
      return false;
    });
  });

$(function() {
    $("a.edit, a.cancel").click(function() {
      var container = $(this).parents("div.admin.review");
      container.find("div.review_controls").toggle();
      container.find("div.edit_controls").toggle();
      return false;
    });
  });
  function reject_all_selected(){
    $rejected = ''
    $('.selected_tweets').each(function(i, obj) {
        if ($(this).is(':checked')) {
          $rejected += $(this).val() + ',';
        }
    });
    window.location = '/admin/reject?ids=' + $rejected
  }
</script>
