<div class="row politician-info">
  <div class="col-md-11 col-md-offset-1">
    <form id="admin-politician" action="/admin/user/<%= @politician.id %>/save" method="POST" role="form" class="form">
      <div class="form-group">
        <div class="row"> 
          <div class="col-md-2">
            <img src="<%= @politician.avatar.url %>" class="politician-avatar" alt="<%= @politician.user_name %>" width"73" height="73" />
          </div>
          <div class="col-md-10 username">
            <span class='display-label'>
              <%= @politician.user_name %>
              <a class="edit-input"><span class="glyphicon glyphicon-pencil"></span></a>
            </span>
            <div class="row input-controls">
              <div class="col-md-11">
                <input id="user_name_input" type="text" name="user_name" value="<%= @politician.user_name %>" class="form-control" />
              </div>
              <div class="col-md-1">
                <a class="edit-input"><span class="glyphicon glyphicon-ok"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <h3 class="display-label">
          <%= @politician.first_name %> <%= @politician.middle_name %> <%=@politician.last_name%> <%=@politician.suffix%>
          <a class="edit-input"><span class="glyphicon glyphicon-pencil"></span></a>
        </h3>
        <div id="display-name" class="row input-controls">
          <div class="col-md-4">
            <input id="first_name_input" type="text" name="first_name" value="<%= @politician.first_name %>" placeholder="Primer nombre" class="form-control input-text" />
          </div>
          <div class="col-md-3">
            <input id="middle_name_input" type="text" name="middle_name" value="<%= @politician.middle_name %>" placeholder="Segundo nombre" class="form-control input-text" />
          </div>
          <div class="col-md-4">
            <input id="last_name_input" type="text" name="last_name" value="<%= @politician.last_name %>" placeholder="Apellido nombre" class="form-control input-text" />
          </div>
          <div class="col-md-1">
            <a class="edit-input"><span class="glyphicon glyphicon-ok"></span></a>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="party">Partido</label>
        <select id="party" name="party_id">
          <% @parties.each do |party| %>
            <option value="<%=party.id%>" <% if party == @politician.party then %> selected <% end %> > 
              <%=party.name.upcase %>
            </option>
          <% end %>
        </select>
      </div>


      <div class="form-group">
        <label for="state">Departamento</label>
        <input id="state" type="text" name="state" class="form-control" value="<%=@politician.state %>" />
      </div>

      <div class="form-group">
        <label for="status">Status</label>
        <select id="status" name="status">
          <% [1, 2, 3, 4].each do |stat| %>
            <option value="<%=stat%>" <% if stat == @politician.status %> selected <% end %> >
              <%= stat %>
            </option>
          <% end %>
        </select>
      </div>

      <div class="form-group">
        <label for="related-accounts">Cuentas Relacionadas</label>
        <input id="related-accounts" type="text" name="related" class="form-control" value="<% @related.each do |r| %><%=r.user_name%>,<% end %> " /></span>
      </div>

      <div class="form-group">
        <div>This user has <strong><em><%= @unmoderated %> </em></strong> unmoderated tweets. (Unapprove? <input name="unapprove_all" type="checkbox" style="vertical-align:middle;" />)</div>
      </div>

      <button type="submit" class="btn btn-default" value="Save">Save</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-11 col-md-offset-1">
    <span><em> Status Key: <div><div> 1 = Active, showing tweets</div><div> 2 = Collecting tweets, not showing</div><div> 3 = Not collecting or showing tweets</div><div> 4 = not collecting, but showing historical tweets</div></div></em></span>
  </div>
</div>
