<div id="admin-list">
<h3><%= t :list_of_twoopsters, :scope => [:politwoops,:admin] %> &nbsp;<span style="font-size:.8em;"><em>(<a href="/admin/users/new"><%= t :add_new, :scope => [:politwoops,:form] %></a>)</em></span></h3>
<ul style="margin: 20px;">
<% @politicians.each do |pol| %>
  <li>
    <span><a href="/admin/user/<%=pol.id%>"> <%=pol.first_name %> <%=pol.middle_name %> <%=pol.last_name %> </a> </span>
    <br/>

    <span> <%=pol.user_name %> </span> 
    <br/>
   <span> 
    <%= unless pol.party.nil? 
    	pol.party.name 
    	end 
	%>
	</span>
  </li>
<% end %>
</ul>
</div>