<div id="admin-list">
<h3><%= t :list_of_twoopsters, :scope => [:politwoops,:admin] %> &nbsp;<span style="font-size:.8em;"><em>(<a href="/admin/users/new"><%= t :add_new, :scope => [:politwoops,:form] %></a>)</em></span></h3>
<ul style="margin: 20px;">
<% @politicians.each do |pol| %>
  <li>
    <a href="/admin/user/<%=pol.id%>"><%=pol.user_name %>  | <%=pol.first_name %> <%=pol.middle_name %> <%=pol.last_name %> </a>
    <br/>
    
    <%= unless pol.party.nil? 
    	pol.party.name 
    	end 
	%>
  </li>
<% end %>
</ul>
</div>

