<h2><%=t :tweets, :scope => [:politwoops, :statistics] %></h2>
<%
tweet_hourly_counts = {}
(0..23).to_a.each { |hour| tweet_hourly_counts[hour] = 0 }
@tweet_hourly_statistics.each { |statistic| tweet_hourly_counts[statistic['hour_of_day']] = statistic['num'] }
tweets_hourly_values = []
current_hour = DateTime.now.hour
(0..23).to_a.each { |hour| tweets_hourly_values << tweet_hourly_counts[(current_hour - hour).abs] }
tweets_img = Gchart.line(
    :size => '600x400', 
    :title => nil,
    :bg => 'efefef',
    :legend => [t(:tweets, :scope => [:politwoops, :statistics])],
    :data => tweets_hourly_values.reverse,
    :axis_with_labels => ['x','y'],
    :axis_labels => [[t(:about_x_hours, :scope => [:datetime, :distance_in_words], :count => 24), t(:about_x_hours, :scope => [:datetime, :distance_in_words], :count => 0)], [0, tweets_hourly_values.max]]
)
%>
<img src="<%= tweets_img %>" />

<h2><%=t :tweets, :scope => [:politwoops, :statistics] %></h2>
<%
tweet_counts = @tweet_statistics.map { |statistic| statistic.amount }
tweets_img = Gchart.line(
    :size => '600x400', 
    :title => nil,
    :bg => 'efefef',
    :legend => [t(:tweets, :scope => [:politwoops, :statistics])],
    :data => tweet_counts.reverse,
    :axis_with_labels => ['x','y'],
    :axis_labels => [[t(:x_days, :scope => [:datetime, :distance_in_words], :count => 30), t(:today, :scope => [:politwoops, :statistics])], [0, tweet_counts.max]]
)
%>
<img src="<%= tweets_img %>" />

<h2><%=t :deleted_tweets, :scope => [:politwoops, :statistics] %></h2>
<%
deleted_tweet_counts = @deleted_tweet_statistics.map { |statistic| statistic.amount }
deleted_tweets_img = Gchart.line(
    :size => '600x400', 
    :title => nil,
    :bg => 'efefef',
    :legend => [t(:tweets, :scope => [:politwoops, :statistics])],
    :data => deleted_tweet_counts.reverse,
    :axis_with_labels => ['x','y'],
    :axis_labels => [[t(:x_days, :scope => [:datetime, :distance_in_words], :count => 30), t(:today, :scope => [:politwoops, :statistics])], [0, deleted_tweet_counts.max]]
)
%>
<img src="<%= deleted_tweets_img %>" />

<h2><%=t :percentage_deleted_tweets, :scope => [:politwoops, :statistics] %></h2>
<%
relative_deleted_tweet_counts = []
@deleted_tweet_statistics.each_index do |x|
    if  @tweet_statistics[x].amount == 0
        relative_deleted_tweet_counts << 0
    else
        relative_deleted_tweet_counts << (((@deleted_tweet_statistics[x].amount  * 1.0) / @tweet_statistics[x].amount) * 100)
    end
end
relative_deleted_tweets_img = Gchart.line(
    :size => '600x400', 
    :title => nil,
    :bg => 'efefef',
    :legend => [t(:tweets, :scope => [:politwoops, :statistics])],
    :data => relative_deleted_tweet_counts.reverse,
    :axis_with_labels => ['x','y'],
    :axis_labels => [[t(:x_days, :scope => [:datetime, :distance_in_words], :count => 30), t(:today, :scope => [:politwoops, :statistics])], [0, relative_deleted_tweet_counts.max]]
)
%>
<img src="<%= relative_deleted_tweets_img %>" />

<h2><%=t :politicians, :scope => [:politwoops, :statistics] %></h2>
<%
politician_counts = @politician_statistics.map { |statistic| statistic.amount }
politicians_img = Gchart.line(
    :size => '600x400', 
    :title => nil,
    :bg => 'efefef',
    :legend => [t(:politicians, :scope => [:politwoops, :statistics])],
    :data => politician_counts.reverse,
    :axis_with_labels => ['x','y'],
    :axis_labels => [[t(:x_days, :scope => [:datetime, :distance_in_words], :count => politician_counts.length), t(:today, :scope => [:politwoops, :statistics])], [0, politician_counts.max]]
)
%>
<img src="<%= politicians_img %>" />

<h2>Pingdom</h2>
<a href="http://www.pingdom.com"><img src="http://share.pingdom.com/banners/16488ea0"  alt="Response time for politwoops: Last 30 days " title=" Response time for politwoops: Last 30 days" width="300" height="165" /></a>