<div id="tweet-<%= tweet.id %>" class="tweet">
	<div class="contentLeft">	
		<a href="/user/<%= tweet.politician.user_name %>">
			<img src="<%= avatar_url tweet.politician %>" alt="<%= tweet.politician.user_name %>" width"73" height="73" />
		</a>
		<div class="policount"><!--
			<span>Retweets via <em>Politwoops</em></span>
			<span class="number">007</span>-->
		</div>
	</div>

  <div class="content">
    <div class="tweet-content">
      <h4 class="tweetTitle">
        <a href="/user/<%= tweet.politician.user_name %>"><%= tweet.details['user']['name'] %> (<%= tweet.politician.party.name.upcase %>)</a> 
  	    <span><a class="accountHandle linkUnderline" href="/user/<%= tweet.politician.user_name %>">@<%= tweet.politician.user_name %></a></span>
	    </h4>
	    <% if tweet.politician.status ==  4 %>
            <div class="inactiveMess">Politwoops no longer follows this account.</div> 
        <% end %>

      <%= format_tweet(tweet).to_s.html_safe %>
    </div>

    <div class="byline">
      <%= byline tweet %>
    </div>
    
    <div class="images">
      <% if tweet.tweet_images.any? %>
        <h3>Screenshots of links in this tweet</h3>
        <% tweet.tweet_images.each do |image| %>
          <a href="<%= image.url %>" target="_blank" class="screenshot cboxElement">
              <img src="<%= image.url %>" class="screenshot" />
          </a>
        <% end %>
      <% end %>
    </div>


  </div>
  
  <% if !(defined?(admin) and admin) %>
    <div class="actions">
      <a href="http://twitter.com/share?text=<%= CGI.escape('@' + tweet.user_name + ' ') %>&url=http://politwoops.sunlightfoundation.com/tweet/<%= tweet.id %>&via=SunFoundation" class="reply textReplace" target="_blank"><%=t :reply, :scope => [:politwoops, :tweets] %></a>
      <a href="http://twitter.com/share?text=<%= CGI.escape('RT @' + tweet.user_name + ' ' + tweet.content) %>&url=http://politwoops.sunlightfoundation.com/tweet/<%= tweet.id %>&via=SunFoundation" class="retweet textReplace" target="_blank"><%=t :retweet, :scope => [:politwoops, :tweets] %></a>
    </div>
  <% end %>
  
  <div class="clear"></div>

  <% if defined?(admin) and admin %>
    <div class="admin review" data-id="<%= tweet.id %>">
      <%= form_tag admin_review_tweet_path(tweet) do %>
        <%= hidden_field_tag "return_to", request.path %>

        <% if tweet.reviewed? %>
          <div class="review_controls">
            <% if tweet.approved? %>
              <%= submit_tag "Unapprove" %>
            <% else %>
              <%= submit_tag "Approve" %>
            <% end %>

            <% if tweet.reviewed_at %>
              <span class="reviewed_at">
                Reviewed on <%= tweet.reviewed_at.strftime "%B %d, %Y at %I:%M %p" %>:
              </span>
            <% end %>

            <div class="review_message">
              <% if tweet.review_message.present? %>
                <%= light_format tweet.review_message %>
              <% else %>
                (No message entered.)
              <% end %>
            </div>
            <a class="edit" href="#">Edit message</a>
          </div>

          <div class="edit_controls" style="display: none">
            <textarea name="review_message" class="review_message edit"><%= tweet.review_message %></textarea>
            <%= submit_tag "Update" %>
            <a class="cancel" href="#">Cancel</a>
          </div>

        <% else %>
          <%= submit_tag "Unapprove" %>
          <%= submit_tag "Approve" %>
          <br/>
          <label class="review_message">
            A note about why (required if approving)
          </label>
          <textarea name="review_message" class="review_message"></textarea>
        <% end %>
      <% end %>
    </div>
  <% end %>

</div>
