<div id="tweet-<%= tweet.id %>" class="tweet">
  <a href="/user/<%= tweet.politician.user_name %>">
    <img src="<%= avatar_url tweet.politician.user_name %>" alt="<%= tweet.politician.user_name %>" width"73" height="73" />
  </a>
  <div class="content">
    <div class="tweet-content">
      <div class="tweetTitle">
      <a href="/user/<%= tweet.politician.user_name %>"><%= tweet.details['user']['name'] %></a>
	    <% if !tweet.politician.nil? %>
	      ( <a class="titleParty" href="/party/<%= tweet.politician.party.name %>"><%= tweet.politician.party.name %></a> )
	    <% end %>
	    </div>
        <% if current_user && current_user.is_admin == 1 %>
        (<%= link_to t(:edit, :scope => [:politwoops]), edit_politician_path(tweet.politician) %>)
      <% end %>
	     <%= format_tweet(tweet).to_s.html_safe %>
    </div>
    <div class="byline">
      <%= byline tweet %>
    </div>

    
      <div class="images">
        <% if tweet.tweet_images.any? %>
          <h3>Screenshots of links in this tweet</h3>
          <% tweet.tweet_images.each do |image| %>
            <a href="<%= image.url %>" target="_blank">
              <img src="<%= image.url %>" class="screenshot" />
            </a>
          <% end %>
        <% end %>
      </div>
    

    <div class="clear">
    </div>
  </div>
  <div class="actions">
    <a href="http://twitter.com/share?text=<%= CGI.escape('@' + tweet.user_name + ' ') %>&url=http://politwoops.sunlightfoundation.com/tweet/<%= tweet.id %>&via=SunFoundation" class="reply textReplace" target="_blank"><%=t :reply, :scope => [:politwoops, :tweets] %></a>
    <a href="http://twitter.com/share?text=<%= CGI.escape('RT @' + tweet.user_name + ' ' + tweet.content) %>&url=http://politwoops.sunlightfoundation.com/tweet/<%= tweet.id %>&via=SunFoundation" class="retweet textReplace" target="_blank"><%=t :retweet, :scope => [:politwoops, :tweets] %></a>
  </div>
  <div class="clear">
  </div>

  <% if defined?(admin) and admin %>
    <div class="admin review">
      <% form_tag admin_review_tweet_path(tweet) do %>
        <%= hidden_field_tag "return_to", request.path %>

        <% if tweet.reviewed? %>
          <% if tweet.approved? %>
            <%= submit_tag "Unapprove" %>
          <% else %>
            <%= submit_tag "Approve" %>
          <% end %>
        <% else %>
          <%= submit_tag "Unapprove" %>
          <%= submit_tag "Approve" %>
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>
