<div id="tweet-<%= tweet.id %>" class="tweet">
  <a href="/user/<%= tweet.politician.user_name %>">
    <img src="http://img.tweetimag.es/i/<%= tweet.politician.user_name %>_b" alt="<%= tweet.politician.user_name %>" width"73" height="73" />
  </a>
  <div class="content">
    <div class="tweet-content">
    <a href="/user/<%= tweet.politician.user_name %>"><%= tweet.details['user']['name'] %></a>
	<% if !tweet.politician.nil? %>
	(<a href="/party/<%= tweet.politician.party.name %>"><%= tweet.politician.party.name %></a>)
	<% end %>
  <% if current_user && current_user.is_admin == 1 %>
  (<%= link_to t(:edit, :scope => [:politwoops]), edit_politician_path(tweet.politician) %>)
  <% end %>
	: <%= auto_link(tweet.content) %>
    </div>
    <div class="byline">
        <a href="http://twitter.com/<%= tweet.politician.user_name %>" class="twitter"><%= tweet.details['user']['name'] %></a>
		<% source = tweet.details["source"].to_s.html_safe %>
		<% tweet_when = "<a href=\"/tweet/#{tweet.id}\">#{time_ago_in_words(tweet.modified)}</a>" %>
	    <%= t(:byline, :scope => [:politwoops, :tweets], :when => tweet_when, :what => source).html_safe %>
    </div>
    <div class="clear">
    </div>
  </div>
  <div class="actions">
    <a href="http://twitter.com/share?text=<%= CGI.escape('@' + tweet.user_name + ' ') %>&url=http://politwoops.nl/tweet/<%= tweet.id %>&via=politwoops" class="reply" target="_blank"><%=t :reply, :scope => [:politwoops, :tweets] %></a>
    <a href="http://twitter.com/share?text=<%= CGI.escape('RT @' + tweet.user_name + ' ' + tweet.content) %>&url=http://politwoops.nl/tweet/<%= tweet.id %>&via=politwoops" class="retweet" target="_blank"><%=t :retweet, :scope => [:politwoops, :tweets] %></a>
  </div>
  <div class="clear">
  </div>
</div>
