<div id="tweet-<%= tweet.id %>" class="tweet">
	<div class="contentLeft">	
    <% if !tweet.reviewed or (tweet.approved and defined?(admin) and admin) %>
      <input type="checkbox" id="" class="selected_tweets" value="<%= tweet.id %>">
    <% end %>
    <a href="/user/<%= tweet.politician.user_name %>">
    <object  data= "<%= avatar_url tweet.politician %>" type="image/png" width"73" height="73" >
      <img src="http://abs.twimg.com/sticky/default_profile_images/default_profile_4.png" alt="<%= tweet.politician.user_name %>" width"73" height="73" />
    </object>
		</a>
		<div class="policount"><!--
			<span>Retweets via <em>Politwoops</em></span>
			<span class="number">007</span>-->
		</div>
	</div>

  <div class="content">
    <div class="tweet-content">
      <h4 class="tweetTitle">
        <span style="float:right;">
          <a href=
            <% if !(defined?(admin) and admin) %>
            "/user/<%= tweet.politician.user_name %>"
            <% else %>
            "?politician_id=<%= tweet.politician.id %>"
            <% end %>
          > <%= "#{tweet.politician.first_name} #{tweet.politician.middle_name} #{tweet.politician.last_name}" %> </a>

          <!-- <%= tweet.details['user']['name'] %> -->
          
          <% if !tweet.politician.party.nil? %>
            (<a href="?party=<%= tweet.politician.party.name%>" ><%= tweet.politician.party.name.upcase %></a>)
          <% end %>
        </span>
  	    <script type="text/javascript" charset="utf-8">  
      ga('send', 'tweet_view', {
      'dimension1': "<%=tweet.id%>"
      });  </script>
        <span><a class="accountHandle linkUnderline" href="http://twitter.com/<%= tweet.politician.user_name %>" target="_blank">@<%= tweet.politician.user_name %></a></span>
	    </h4>
	    <% if tweet.politician.status ==  4 %>
        <div class="inactiveMess">This account is no longer active.</div> 
        <% end %>
      
      <%= format_tweet(tweet).to_s.html_safe %>
    </div>

    <div class="byline">
      <%= byline tweet %>
    </div>
    
    <div class="images">
      <% if tweet.tweet_images.any? %>
        <h3><%= t :screenshots_of_links_in_this_tweet, :scope => [:politwoops,:tweets] %></h3>
        <% tweet.tweet_images.each do |image| %>
          <a href="<%= image.url %>" target="_blank" class="screenshot cboxElement">
            <img src="<%= image.url %>" class="screenshot" />
          </a>
        <% end %>
      <% end %>
    </div>

  </div>
  
  <% if !(defined?(admin) and admin) %>
    <div class="actions">
      <input type='hidden' id='long_url_<%= tweet.id %>' value='<%= tweet_url(tweet.id) %>'>
      <a id='replay_<%= tweet.id %>' href="" class="reply textReplace" target="_blank"><%=t :reply, :scope => [:politwoops, :tweets] %></a>
      <a id='retweet_<%= tweet.id %>' href="" class="retweet textReplace" target="_blank"><%=t :retweet, :scope => [:politwoops, :tweets] %></a>
      <a id='fb_share_<%= tweet.id %>' href="#" class="fb_share textReplace"
        onclick="
          window.open(
            'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('<%= tweet_url(tweet.id) %>'),
            'facebook-share-dialog', 
            'width=626,height=436'); 
          return false;">
        Share on Facebook
      </a>

    </div>
  <% end %>
  
  <div class="clear"></div>

  <% if defined?(admin) and admin %>
    <div class="admin review" data-id="<%= tweet.id %>">
      <% 
        page_number = 1.to_s
        if !params[:page].nil?
          page_number = params[:page]
        end
      %>
      
      <a href="/admin/user/<%= tweet.politician.id %>" target="_blank"><%= t(:edit_politician, :scope => [:politwoops,:admin]) %></a><br/>
      <a href="#" class="next_tweets"><%= t(:next_tweets, :scope => [:politwoops,:admin]) %></a>
      <div class="next_tweets_list" style="display: none">
        <a href="#" class="next_tweets_title" ><h4><%= t(:next_tweets, :scope => [:politwoops,:admin]) %></h4></a>
        <ul></ul>
      </div>
      <%= form_tag admin_review_tweet_path(tweet), :class => "review_tweet_form" do %>
        <%= hidden_field_tag "return_to", (request.path + '?page='+ page_number + "&politician_id=#{params[:politician_id]}") %>

        <% if tweet.reviewed? %>
          <div class="review_controls">
            <% if tweet.approved? %>
              <%= submit_tag  t(:unapprove, :scope => [:politwoops,:admin]) %>
            <% else %>
              <%= form_tag admin_review_tweet_path(tweet) do %>
                  <textarea name="review_message" class="review_message"></textarea>
                  <%= submit_tag t(:approve, :scope => [:politwoops,:admin]) %>
              <% end %>
            <% end %>
            
            <% if tweet.reviewed_at %>
              <span class="reviewed_at">
                 <%= t :reviewed_on, :scope => [:politwoops,:form] %> : <%= tweet.reviewed_at.strftime "%B %d, %Y at %I:%M %p" %>
                 <% if tweet.reviewed_by %>
                 &nbsp; <%= t :reviewed_by, :scope => [:politwoops,:form] %> : <%= tweet.reviewed_by.username %>
                 <% end %>
              </span>
            <% end %>

            <div class="review_message">
              <% if tweet.review_message.present? %>
                <%= light_format tweet.review_message %>
              <% else %>
                (<%= t :no_message_entered, :scope => [:politwoops,:form] %>).
              <% end %>
            </div>
            <!--<a class="edit" href="#"><%= t :edit_message, :scope => [:politwoops,:form] %></a>-->
          </div>

          <div class="edit_controls" style="display: none">
            <textarea name="review_message" class="review_message edit"><%= tweet.review_message %></textarea>
            <%= submit_tag "Update" %>
            <a class="cancel" href="#">Cancel</a>
          </div>

        <% else %>
          <a href="/admin/user/<%= tweet.politician.id %>/disable"><%= t(:remove_user_with_all_his_tweets, :scope => [:politwoops,:admin]) %></a>
          <label class="review_message">
            <%= t(:approving_note, :scope => [:politwoops,:admin]) %>
          </label>
          <textarea name="review_message" class="review_message"></textarea>
          <%= submit_tag t(:unapprove, :scope => [:politwoops,:admin]), :class => "unapprove_tweet_submit" %>
          <%= submit_tag t(:approve, :scope => [:politwoops,:admin]), :class => "approve_tweet_submit" %>
        <% end %>
      <% end %>
    </div>
  <% end %>

</div>

<script type="text/javascript" charset="utf-8">
replay_url = "http://twitter.com/share?text=<%= CGI.escape('@' + tweet.user_name + ' ') %>&url=<%= tweet_url(tweet.id) %>&via=2adkelmetak";
jQuery('#replay_<%= tweet.id %>').attr("href", replay_url);
retweet_url = "http://twitter.com/share?text=<%= CGI.escape('RT @' + tweet.user_name + ' ' + truncate(tweet.content, :length => 75)) %>&url=<%= tweet_url(tweet.id) %>&via=2adkelmetak";
jQuery('#retweet_<%= tweet.id %>').attr("href", retweet_url);
</script>
