<div id="tweet-<%= tweet.id %>" class="tweet">
	<div class="contentLeft">	
		<a href="/user/<%= tweet.politician.user_name %>">
			<img src="<%= avatar_url tweet.politician %>" alt="<%= tweet.politician.user_name %>" width"73" height="73" />
		</a>
		<div class="policount"><!--
			<span>Retweets via <em>Politwoops</em></span>
			<span class="number">007</span>-->
		</div>
	</div>

  <div class="content">
    <div class="tweet-content">
      <h4 class="tweetTitle">
        <span style="float:right;">
          <a href="/user/<%= tweet.politician.user_name %>"> <%= "#{tweet.politician.first_name} #{tweet.politician.middle_name} #{tweet.politician.last_name}" %> </a>

          <!-- <%= tweet.details['user']['name'] %> -->
          
          <% if !tweet.politician.party.nil? %>
            (<a href="?party=<%= tweet.politician.party.name%>" ><%= tweet.politician.party.name.upcase %></a>)
          <% end %>
        </span>
  	    
        <span> <a class="accountHandle linkUnderline" href="/user/<%= tweet.politician.user_name %>">@<%= tweet.politician.user_name %></a></span>
	    </h4>
	    <% if tweet.politician.status ==  4 %>
        <div class="inactiveMess">This account is no longer active.</div> 
        <% end %>

      <%= format_tweet(tweet).to_s.html_safe %>
    </div>

    <div class="byline">
      <%= byline tweet %>
    </div>
    
    <div class="images">
      <% if tweet.tweet_images.any? %>
        <h3><%= t :screenshots_of_links_in_this_tweet, :scope => [:politwoops,:tweets] %></h3>
        <% tweet.tweet_images.each do |image| %>
          <a href="<%= image.url %>" target="_blank" class="screenshot cboxElement">
            <img src="<%= image.url %>" class="screenshot" />
          </a>
        <% end %>
      <% end %>
    </div>

  </div>
  
  <% if !(defined?(admin) and admin) %>
    <div class="actions">
      <input type='hidden' id='long_url_<%= tweet.id %>' value='http://2ad.kelmetak.com/tweet/<%= tweet.id %>'>
      <a id='replay_<%= tweet.id %>' href="" class="reply textReplace" target="_blank"><%=t :reply, :scope => [:politwoops, :tweets] %></a>
      <a id='retweet_<%= tweet.id %>' href="" class="retweet textReplace" target="_blank"><%=t :retweet, :scope => [:politwoops, :tweets] %></a>
    </div>
  <% end %>
  
  <div class="clear"></div>

  <% if defined?(admin) and admin %>
    <div class="admin review" data-id="<%= tweet.id %>">
      <% 
        page_number = 1.to_s
        if !params[:page].nil?
          page_number = params[:page]
        end
      %>
      <%= form_tag admin_review_tweet_path(tweet) do %>
        <%= hidden_field_tag "return_to", (request.path + '?page='+ page_number) %>

        <% if tweet.reviewed? %>
          <div class="review_controls">
            <% if tweet.approved? %>
              <%= submit_tag  t(:unapprove, :scope => [:politwoops,:admin]) %>
            <% else %>
              <%= submit_tag t(:approve, :scope => [:politwoops,:admin]) %>
            <% end %>

            <% if tweet.reviewed_at %>
              <span class="reviewed_at">
                 <%= t :reviewed_on, :scope => [:politwoops,:form] %> : <%= tweet.reviewed_at.strftime "%B %d, %Y at %I:%M %p" %>
              </span>
            <% end %>

            <div class="review_message">
              <% if tweet.review_message.present? %>
                <%= light_format tweet.review_message %>
              <% else %>
                (<%= t :no_message_entered, :scope => [:politwoops,:form] %>).
              <% end %>
            </div>
            <a class="edit" href="#"><%= t :edit_message, :scope => [:politwoops,:form] %></a>
          </div>

          <div class="edit_controls" style="display: none">
            <textarea name="review_message" class="review_message edit"><%= tweet.review_message %></textarea>
            <%= submit_tag "Update" %>
            <a class="cancel" href="#">Cancel</a>
          </div>

        <% else %>
          <a href="/admin/user/<%= tweet.politician.id %>/disable"><%= t(:remove_user_with_all_his_tweets, :scope => [:politwoops,:admin]) %></a>
          <label class="review_message">
            <%= t(:approving_note, :scope => [:politwoops,:admin])  %>
          </label>
          <textarea name="review_message" class="review_message"></textarea>
          <%= submit_tag t(:unapprove, :scope => [:politwoops,:admin]) %>
          <%= submit_tag t(:approve, :scope => [:politwoops,:admin]) %>
        <% end %>
      <% end %>
    </div>
  <% end %>

</div>
<script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function(){
        var long_url = jQuery('#long_url_<%= tweet.id %>').val();
        jQuery.ajax({
            url: 'tweets/shorten_url?url='+ long_url, 
            dataType: 'json',
            success: function(data){
                      console.log(data);

                      replay_url = "http://twitter.com/share?text=<%= CGI.escape('@' + tweet.user_name + ' ') %>&url=" + data['url'] + "&via=2adkelmetak";

                      jQuery('#replay_<%= tweet.id %>').attr("href", replay_url);
                      
                      console.log(data['url']);
                      console.log(jQuery('#replay_<%= tweet.id %>').attr("href"));

                      retweet_url = "http://twitter.com/share?text=<%= CGI.escape('RT @' + tweet.user_name + ' ' + tweet.content) %>&url=" + data['url'] + "&via=2adkelmetak";

                      jQuery('#retweet_<%= tweet.id %>').attr("href", retweet_url);
                      
                      console.log(jQuery('#retweet_<%= tweet.id %>').attr("href"));
                      },
            error: function(jq, textStatus, errorThrown){
                      console.log(errorThrown); 
                      console.log(textStatus);
                     },
            });
    });
</script>