<h2>
  Los más populares
</h2>

<% if @tweets_hits.empty? %>
 No hay resultados para tu búsqueda.
<% else %>
<%= render :partial => "tweets/tweet", :collection => @tweets_hits, :object => :tweet %>
<% end %>
<h2>
  Últimos mensajes borrados
</h2>

<%= render :template => "shared/filterform" %>

<%# <% content_for :feeds do %>
<%#   <% if @politician %>
<%#     <%= auto_discovery_link_tag :rss, politician_url(@politician.user_name, :format => :rss) %>
<%#   <% elsif @query %>
<%#     <%= auto_discovery_link_tag :rss, index_url(:format => :rss, :q => @query) %>
<%#   <% else %>
<%#     <%= auto_discovery_link_tag :rss, index_url(:format => :rss) %>
<%#   <% end %>
<%# <% end %>

<% if @tweets.empty? %>
  No hay resultados para tu búsqueda.
<% else %>
<%= render :partial => "tweets/tweet", :collection => @tweets, :object => :tweet %>
<% end %>
<%= render :template => "shared/pager" %>

<%= render :template => "shared/screenshotbox" %>

