<!--<div class="title">
	<h2>
    <%= t 'politwoops.slogan' %>
	</h2>

</div>
 <div class="caveat">
  <p>
    <%= t('politwoops.call_for_contributers').html_safe %>
  </p>
</div>
-->

<!--<%= render :template => "shared/filterform" %>-->
<div class="content">
<% content_for :feeds do %>
  <% if @politician %>
    <%= auto_discovery_link_tag :rss, politician_url(@politician.user_name, :format => :rss) %>
  <% elsif @query %>
    <%= auto_discovery_link_tag :rss, index_url(:format => :rss, :q => @query) %>
  <% else %>
    <%= auto_discovery_link_tag :rss, index_url(:format => :rss) %>
  <% end %>
<% end %>

<% if @tweets.empty? %>
  <div class="no-result">
    <%= t 'politwoops.no_result' %>
    <!--<a href="/users/suggest"><%= t('politwoops.groups.suggest_politicians_label')%></a>-->
  </div>
<% else %>
  
  <h2 class="tweets_count">
    <%= t(:number_of_deleted_tweets, :scope => [:politwoops,:tweets]) %> <span><%= @tweets.total_entries %></span>
  </h2>
  
  <div class="filter">
    <form action="/" method="get">
      <select name="politician_id" id="pol_select">
        <option></option>
        <% for @politican in @all_politicians %>
          <option value="<%= @politican.id %>" <% if @politican.id.to_s == params[:politician_id] %> SELECTED <%end%> > 
          <%= "#{@politican.first_name} #{@politican.middle_name} #{@politican.last_name} - @#{@politican.user_name}" %>
          <% if !@politican.party.nil? %>
          <%=" -- #{@politican.party.name}"%>
          <% end %>
          </option>
        <% end %>
      </select>
    <button style="display: inline-block;" type="submit"><%=t(:search, :scope => [:politwoops,:form])%></button>
    </form>
  </div>
    
  <% @tweets.each do |tweet| %>
    <%= render :partial => "tweets/tweet", :locals => {:tweet => tweet} %>
  <% end %>

  <%= render :template => "shared/pager" %>

  <%= render :template => "shared/screenshotbox" %>
<% end %>
</div>