<div class="title">
	<h2>
		Recent Politwoops
	</h2>

  <%= render :template => "shared/filterform" %>

</div>
<% content_for :feeds do %>
  <% if @politician %>
    <%= auto_discovery_link_tag :rss, politician_url(@politician.user_name, :format => :rss) %>
  <% elsif @query %>
    <%= auto_discovery_link_tag :rss, index_url(:format => :rss, :q => @query) %>
  <% else %>
    <%= auto_discovery_link_tag :rss, index_url(:format => :rss) %>
  <% end %>
<% end %>

<% if @tweets.empty? %>
  No results for the filter options you selected.
<% else %>
  <% @tweets.each do |tweet| %>
    <%= render :partial => "tweets/tweet", :locals => {:tweet => tweet} %>
  <% end %>

  <div id="pager">
    <%= will_paginate @tweets, :next_label => t(:next, :scope => [:politwoops]), :prev_label => t(:previous, :scope => [:politwoops]) %>
  	
  	<div class="numResults">
  		<h4>Results per page</h4>
  		<ul>
	  		<li>
	  			<a href="">20</a>
	  		</li>
	  		<li>
	  			<a href="">50</a>
	  		</li>
	  		<li>
	  			<a href="">100</a>
	  		</li>
	  		<li>
	  			<a href="">200</a>
	  		</li>
	  	</ul>
  	</div>
  </div>
<% end %>
