<!--<div class="title">
	<h2>
    <%= t 'politwoops.slogan' %>
	</h2>

   

</div>
 <div class="caveat">
  <p>
    <%= t('politwoops.call_for_contributers').html_safe %>
  </p>
</div>
-->

<%= render :template => "shared/filterform" %>
<div class="content">
<% content_for :feeds do %>
  <% if @politician %>
    <%= auto_discovery_link_tag :rss, politician_url(@politician.user_name, :format => :rss) %>
  <% elsif @query %>
    <%= auto_discovery_link_tag :rss, index_url(:format => :rss, :q => @query) %>
  <% else %>
    <%= auto_discovery_link_tag :rss, index_url(:format => :rss) %>
  <% end %>
<% end %>

<% if @tweets.empty? %>
  <%= t 'politwoops.no_result' %>
  <a href="/users/suggest"><%= t('politwoops.groups.suggest_politicians_label')%></a>
<% else %>
  
  <h2 class="tweets_count">
    <%= t(:number_of_deleted_tweets, :scope => [:politwoops,:tweets]) %> <span><%= @tweets.total_entries %></span>
  </h2>

  <% @tweets.each do |tweet| %>
    <%= render :partial => "tweets/tweet", :locals => {:tweet => tweet} %>
  <% end %>

  <%= render :template => "shared/pager" %>

  <%= render :template => "shared/screenshotbox" %>
<% end %>
</div>