<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :naam %><br />
    <%= f.text_field :name %>
	<p class="explanation">Een korte naam, zonder spaties</p>
  </div>
  <div class="field">
    <%= f.label 'Beschrijving' %><br />
    <%= f.text_field :full_name %>
	<p class="explanation">Een  beschrijving van de groep</p>
  </div>
  
<% if !@group.id.nil? %>
  <%= f.label 'Poltici:' %><br />
	<p class="explanation">Vink poltici aan om ze aan de groep toe te voegen, of te verwijderen.</p>
  <% for politician in Politician.order(:user_name).all %>
  <div>
    <%= check_box_tag "group[politician_ids][]", politician.id, @group.politicians.include?(politician) %>
    <%= politician.user_name %>
  </div>
  <% end %>
<% end %>
  <div class="actions">
    <%= f.submit %>
  </div>  
<% end %>
