<h1><%=t :index_heading, :scope => [:politwoops, :groups] %></h1>

<table>
  <tr>
    <th><%=t :name_label, :scope => [:politwoops, :groups] %></th>
    <th><%=t :description_label, :scope => [:politwoops, :groups] %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.name %></td>
    <td><%= group.full_name %></td>
    <td><%= link_to t(:show, :scope => [:politwoops]), sprintf('/g/%s', group.name) %></td>
    <td><%= link_to t(:edit, :scope => [:politwoops]), edit_group_path(group) %></td>
    <td><%= link_to t(:destroy, :scope => [:politwoops]), group, :confirm => t(:sure, :scope => [:politwoops]), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:add_heading, :scope => [:politwoops, :groups]), new_group_path %>
