<h1>Admin</h1>
<h2><%=t :index_heading, :scope => [:politwoops, :groups] %></h2>
<ul>
  <li><a href="/groups/new"><%=t :add_heading, :scope => [:politwoops, :groups] %></a></li>
  <li><a href="/groups/"><%=t :index_heading, :scope => [:politwoops, :groups] %></a></li>
</ul>

<h2><%=t :index_heading, :scope => [:politwoops, :parties] %></h2>
<ul>
  <li><a href="/parties/new"><%=t :add_heading, :scope => [:politwoops, :parties] %></a></li>
  <li><a href="/parties/"><%=t :index_heading, :scope => [:politwoops, :parties] %></a></li>
</ul>

<h2><%=t :index_heading, :scope => [:politwoops, :politicians] %></h2>
<ul>
  <li><a href="/politicians/new"><%=t :add_heading, :scope => [:politwoops, :politicians] %></a></li>
  <li><a href="/politicians/"><%=t :index_heading, :scope => [:politwoops, :politicians] %></a></li>
</ul>

<h2><%=t :index_heading, :scope => [:politwoops, :users] %></h2>
<ul>
  <li><a href="/account/edit"><%=t :edit_heading, :scope => [:politwoops, :users] %></a></li>
  <li><a href="/users/new"><%=t :add_heading, :scope => [:politwoops, :users] %></a></li>
  <li><a href="/users/"><%=t :index_heading, :scope => [:politwoops, :users] %></a></li>
</ul>

<h2><%=t :index_heading, :scope => [:politwoops, :pages] %></h2>
<ul>
  <li><a href="/pages/new"><%=t :add_heading, :scope => [:politwoops, :pages] %></a></li>
  <li><a href="/pages/"><%=t :index_heading, :scope => [:politwoops, :pages] %></a></li>
</ul>

<h2><%=t :index_heading, :scope => [:politwoops, :statistics] %></h2>
<ul>
  <li><a href="/statistics/"><%=t :index_heading, :scope => [:politwoops, :statistics] %></a></li>
</ul>
