<h1><%=t :menu_heading, :scope => [:politwoops, :users] %></h1>
<ul>
  <li><a href="/account/edit"><%=t :edit_heading, :scope => [:politwoops, :users] %></a></li>
<% if @user.group_id.nil? %>
  <li><a href="/groups/new"><%=t :add_heading, :scope => [:politwoops, :groups] %></a></li>
<% else %>
<li><a href="/groups/<%= @user.group_id %>/edit"><%=t :edit_heading, :scope => [:politwoops, :groups] %></a></li>
<li><a href="/g/<%= @user.group.name %>" target="_blank"><%=t :view_heading, :scope => [:politwoops, :groups] %></a></li>
<% end %>
<li><a href="/parties/new"><%=t :add_heading, :scope => [:politwoops, :parties] %></a></li>
<li><a href="/politicians/search"><%=t :add_heading, :scope => [:politwoops, :politicians] %></a></li>
</ul>