<h1><%=t :index_heading, :scope => [:politwoops, :users] %></h1>

<table>
  <tr>
    <th><%=t :login_label, :scope => [:politwoops, :users] %></th>
    <th><%=t :email_label, :scope => [:politwoops, :users] %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.login %></td>
    <td><%= user.email %></td>
    <td><%= link_to t(:show, :scope => [:politwoops]), user %></td>
    <td><%= link_to t(:edit, :scope => [:politwoops]), edit_user_path(user) %></td>
    <td><%= link_to t(:destroy, :scope => [:politwoops]), user, :confirm => t(:sure, :scope => [:politwoops]), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:add_heading, :scope => [:politwoops, :users]), new_user_path %>
