  <form action="<%= @filter_action %>" method="GET" id="filter" class="form-inline">
	    <ul>
			<li class="styled-select">
	    		<label for="party"><%= t 'politwoops.parties.name_label' %> :</label>
				<select name="party" id="party_select" class="styled-select">
					<option value="" >---------</option>
                    <% @parties.each do |par| %>
        				<option value="<%=par.name%>" <% if @filters['party'] == par.name %> selected <% end %>><%=par.display_name%></option>
                    <% end %>
				</select>
			</li>
	    <button type="submit" class="btn"><%= t 'politwoops.form.filter' %></button>
		</ul>
	</form>