<form action="<%= @filter_action %>" method="GET" id="filter" class="form-inline">
  <input type="hidden" name="party" value="<%=params[:party]%>" />
  <input type="hidden" name="state" value="<%=params[:state]%>" />

  <div class="filter">
    <div class="dropdown">
      <button id="party" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <% unless @filters['party'].nil? %>
          <%= @filters['party']%>
        <% else %>
          Partido
        <% end %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="party">
        <% @parties.each do |par| %>
          <li>
            <a alt="<%=par.name%>">
              <%=humanize_filter par.party_name%>
              <% if @filters['party'] == par.name %><span class="glyphicon glyphicon-ok"></span><% end %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
    <% unless @states.count == 0 %>
      <div class="dropdown">
        <button id="state" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <% unless @filters['state'].nil? %>
            <%= @filters['state']%>
          <% else %>
            Departamento
          <% end %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="state">
          <% @states.each do |st| %>
            <li>
            <a alt="<%st%>">
                <%=humanize_filter st%>
                <% if @filters['state'] == st %><span class="glyphicon glyphicon-ok"></span><% end %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</form>
<div class="clear"></div>
