<div class="tweet">
  <a href="http://twitter.com/<%= twitter_user.screen_name %>">
    <img src="http://img.tweetimag.es/i/<%= twitter_user.screen_name %>_b" alt="<%= twitter_user.screen_name %>" width"73" height="73" />
  </a>
  <div class="content">
    <div class="tweet-content">
    <a href="http://twitter.com/<%= twitter_user.screen_name %>"><%= twitter_user.screen_name %></a>
    <% if twitter_user.location and twitter_user.location != '' %>
    (<%= twitter_user.location %>)
    <% end %>
	: <%= auto_link(twitter_user.description) %>
    </div>
    <div class="byline">
    </div>
    <div class="clear">
    </div>
  </div>
  <div class="actions">
  </div>
  <div class="clear">
  </div>
</div>
