<div class="tweet">
  <a href="http://twitter.com/<%= twitter_user.screen_name %>">
    <img src="<%= avatar_url twitter_user.screen_name %>" alt="<%= twitter_user.screen_name %>" width"73" height="73" />
  </a>
  <div class="content">
    <div class="tweet-content">
    <a href="http://twitter.com/<%= twitter_user.screen_name %>"><%= twitter_user.screen_name %></a>
    <% if twitter_user.name %>
    <span class="real-name">(<%= link_to twitter_user.name, twitter_user.url %>)</span>
    <% end %>
	: <%= auto_link(twitter_user.description) %>
    </div>
    <div class="byline">
      <% if twitter_user.location and twitter_user.location != '' %>
      <%= twitter_user.location %>
      <% end %>
    </div>
    <div class="clear">
    </div>
  </div>
  <div class="actions">
    <%
    if @politicians[twitter_user.screen_name].id.nil?
      add_politician_link = new_politician_path('politician[user_name]' => twitter_user.screen_name)
    else
      add_politician_link = (current_user.is_admin == 1) ? edit_politician_path(@politicians[twitter_user.screen_name]) : '/groups/' + current_user.group_id.to_s + '/politicians/add/' + @politicians[twitter_user.screen_name].id.to_s
    end
    %>
    <a href="<%= add_politician_link %>" class="button"><add><%=t :add, :scope => [:politwoops] %></a>
  </div>
  <div class="clear">
  </div>
</div>
