<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%=t :errors_explanation, :scope => [:politwoops, :pages], :count => @page.errors.count %>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:title_label, :scope => [:politwoops, :pages]) %>:<br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label t(:language_label, :scope => [:politwoops, :pages]) %>:<br />
    <%= select_tag('page[language]', options_for_select(I18n.available_locales.map { |loc| [loc, loc] })) %>
  </div>
  <div class="field">
    <%= f.label t(:slug_label, :scope => [:politwoops, :pages]) %>:<br />
    <%= f.text_field :slug %>
  </div>
  <div class="field">
    <%= f.label t(:content_label, :scope => [:politwoops, :pages]) %>:<br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
