<div class="title">
    <h2><%= t(:about_site_title, :scope => [:politwoops, :about]) %></h2>
    <p><%= t(:about_site_content, :scope => [:politwoops, :about]) %></p>
    <h2><%= t(:how_it_works_title, :scope=>[:politwoops, :about]) %></h2>
    <p><%= t(:how_it_works_content, :scope => [:politwoops, :about]) %></p>
    <h2><%= t(:credits_title, :scope=>[:politwoops, :about]) %></h2>
    <p>
      (أد كلمتك) مبني على المشروع مفتوح المصدر  
      <a href="http://politwoops.sunlightfoundation.com" target="_blank">Politwoops</a>
      من اصدار <a href="http://sunlightfoundation.com" target="_blank">http://sunlightfoundation.com</a>
      والذي يعني "زلات لسان الشخصيات العامة" والذي يقوم بدور مشابه في الولايات المتحدة الامريكية.
      الى جانب وجود نسخ من الموقع في <a href="http://www.politwoops.com/countries" target="_blank">العديد من الدول الاخري. </a> 
    </p>
</div>

<% content_for :body_class do %> class="about" <% end %>


<!-- This file lives in public/404.html -->
<div class="crackBox">
        <a class="cowButton" href="/">
        	<h1 id="bubble" class="twoopsAlternateLogo textReplace"> <%= t(:site_name, :scope => [:politwoops]) %></h1>
        </a>
</div>