<div class="title">
    <h2><%= t(:about_site_title, :scope => [:politwoops, :about]) %></h2>
    <p><%= t(:about_site_content, :scope => [:politwoops, :about]) %></p>
    <h2><%= t(:how_it_works_title, :scope=>[:politwoops, :about]) %></h2>
    <p><%= t(:how_it_works_content, :scope => [:politwoops, :about]) %></p>
    <h2><%= t(:credits_title, :scope=>[:politwoops, :about]) %></h2>
    <p><%= t(:credits_content, :scope => [:politwoops, :about]) %></p>
</div>

<% content_for :body_class do %> class="about" <% end %>


<!-- This file lives in public/404.html -->
<div class="crackBox">
        <a class="cowButton" href="/">
        	<h1 id="bubble" class="twoopsAlternateLogo textReplace"> <%= t(:site_name, :scope => [:politwoops]) %></h1>
        </a>
</div>