<h1><%=t :index_heading, :scope => [:politwoops, :countries] %></h1>

<table>
  <tr>
    <th><%=t :description_label, :scope => [:politwoops, :groups] %></th>
    <% if @current_user && @current_user.is_admin == 1 %>
    <th></th>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td>
    <img src="/images/flags/<%= group.flag %>.png" />
    <% if group.is_domain %>
    <%= link_to group.full_name, group.base_url %>
    <% else %>
    <%= link_to group.full_name, sprintf('%s/g/%s', group.base_url, group.name) %>
    <% end %>
    </td>
    <% if current_user && current_user.is_admin == 1 %>
    <td><%= link_to t(:show, :scope => [:politwoops]), sprintf('/g/%s', group.name) %></td>
    <td><%= link_to t(:edit, :scope => [:politwoops]), edit_group_path(group) %></td>
    <td><%= link_to t(:destroy, :scope => [:politwoops]), group, :confirm => t(:sure, :scope => [:politwoops]), :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<% if @current_user && @current_user.is_admin == 1 %>

<br />

<%= link_to t(:add_heading, :scope => [:politwoops, :groups]), new_group_path %>

<% end %>