<h3><%= t :party_edit, :scope => [:politwoops,:admin] %></h3>

<form id="admin-politician" action="/admin/parties/save" method="POST">
<input type="hidden" name="obj_id" value="<%= @party.id %>"
<ul>
<li>
    <%= t :party_name, :scope => [:politwoops,:admin] %>: <input type="text" name="name" value="<%= @party.name %>" />
</li>
<li>
    <%= t :party_display_name, :scope => [:politwoops,:admin] %>: <input type="text" name="display_name" value="<%= @party.display_name %>" />
</li>
</ul>
<button type="submit" value="Save"><%= t :save, :scope => [:politwoops,:form] %></button>
</form>
