<%= form.label t(:name_label, :scope => [:politwoops, :politicians]) %>:<br />
<%= form.text_field :user_name %><br />
<p class="explanation"><%=t :name_explanation, :scope => [:politwoops, :politicians] %></p>
<br />
<%= form.label t(:model_name, :scope => [:politwoops, :parties]) %>:<br />
<%= collection_select(:politician, :party_id, Party.order(:name).all, :id, :name, {}, {:class => 'chzn-select'}) %><br />
<% if @current_user.is_admin == 1 %>
  <%= form.check_box :status %>
  <%= t(:status_label, :scope => [:politwoops, :politicians]) %><br />
  <%= form.label t(:index_heading, :scope => [:politwoops, :groups]) %>:<br />
  <% for group in Group.all %>
  <div>
    <%= check_box_tag "politician[group_ids][]", group.id, @politician.groups.include?(group) %>
    <%= group.name %>
  </div>
  <% end %>
<% end %>