	<h2>
		Recent Politwoops
	</h2>

    <%= render :template => "shared/filterform" %>

	<table class="politicians">
		<tbody>
		<% @politicians.each do |pol|%>
		<tr>
			<td class="img">
				<img src="<%= pol.profile_image_url %>" />    
			</td>
			<td class="name">
				<span>
				<a href="/user/<%= pol.user_name %>/">
					<%= pol.first_name %>
					<%= pol.middle_name %>
					<%= pol.last_name %>
					<%= pol.suffix %>
				</a>
				</span>
			</td>
			<td class="state">
				<span>
				<% if pol.state %> <%= pol.state.upcase %> <% end %>
				</span>
			</td>
			<td class="office">
				<span>
				<% if pol.office %><%= pol.office.title %> <% end %>
				</span>
			</td>

			<!-- 
			<td>
				<%= pol.user_name %>
			</td>
			-->

			<td class="party">
				<span>
				<% if pol.party %> <%= pol.party.name.upcase %> <% end %>
				<% if pol.status ==  4 %><em>inactive</em> <% end %>
				</span>
			</td>
		</tr>
		<% end %>
		<tbody>
	</table>




