<h1>Listing politicians</h1>

<table>
  <tr>
    <th>User name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @politicians.each do |politician| %>
  <tr>
    <td><%= politician.user_name %></td>
    <td><%= link_to 'Show', sprintf('/user/%s', politician.user_name) %></td>
    <td><%= link_to 'Edit', edit_politician_path(politician) %></td>
    <td><%= link_to 'Destroy', politician, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New poltician', new_politician_path %>
