<% content_for :title do %>
  Tweets borrados por <%= @politician.first_name %> <%=@politician.last_name %> (<%= @politician.party.name.upcase %>)<% if @page > 1 %> (Page <%= @page %>)<% end %>
<% end %>

<div id="info">
	<h2> <%= @politician.first_name %> <%=@politician.last_name %> (<%= @politician.party.name.upcase %>)</h2>
	<ul class="accountList">
    <% @accounts.each do |acc| %>
      <li id="<%= acc.user_name %>-label">
        <p> 
          <a class="accountHandle" href="http://twitter.com/<%=acc.user_name%>"><span>@<%= acc.user_name %></span></a>
          <% if @tweet_map[acc.user_name][0] %> <%= @tweet_map[acc.user_name][0].details['user']['description'] %> <% end %>
        </p>
      </li>
    <% end %>
	</ul>
</div>
<div id="all-container" class="tweet-content-container">
    <%= render :partial => "tweets/tweet", :collection => @tweet_map['all'], :object => :tweet %>
</div>

<% @accounts.each do |acc| %>
    <div style="display:none;" class="tweet-content-container" id="<%= acc.user_name %>-container">
        <% @tweet_map[acc.user_name].each do |tw| %>
            <%= render :partial => "tweets/tweet", :locals => {:tweet => tw} %>
        <% end %>
    </div>
<% end %>

<%= render :template => "shared/pager" %>

<%= render :template => "shared/screenshotbox" %>

