<% content_for :title do %>
  <% if @latest_tweet %><%= @latest_tweet.details['user']['name'] %> <% end %>(<%= @politician.party.name.upcase %>)
<% end %>

<div id="info">
	<h2><% if @latest_tweet %> <%= @latest_tweet.details['user']['name'] %> <% end %></h2>
	<ul class="accountList">
		<li>
			<a class="accountHandle" href="">All Tweets</a>
		</li>
		<li class="active">
			<a class="accountHandle" href=""><span>@<%= @politician.user_name %></span></a>
		</li>
		<li>
			<a class="accountHandle" href="">@AnotherAccount</a>
		</li>
	</ul>
	<div class="aboutAccount">
		<p>
			<% if @latest_tweet %> <%= @latest_tweet.details['user']['description'] %> <% end %><a href="">twitter page</a>
		</p>
	</div>
	<div class="clear"></div>
</div>

<% @tweets.each do |tweet| %>
	<%= render :partial => "tweets/tweet", :locals => {:tweet => tweet} %>
<% end %>

<div id="pager">
  <%= will_paginate @tweets, :next_label => t(:next, :scope => [:politwoops]), :prev_label => t(:previous, :scope => [:politwoops]) %>

  	<!-- KAITLIN!!! For selecting the number of tweets shown. This should appear on all tweet result pages. !-->

  	<div class="numResults">
  		<h4>Results per page</h4>
  		<ul>
	  		<li>
	  			<a href="">20</a>
	  		</li>
	  		<li>
	  			<a href="">50</a>
	  		</li>
	  		<li>
	  			<a href="">100</a>
	  		</li>
	  		<li>
	  			<a href="">200</a>
	  		</li>
	  	</ul>
  	</div>
  
</div>

<%= render :template => "shared/screenshotbox" %>

