<% content_for :title do %>
  <% if @latest_tweet %><%= @latest_tweet.details['user']['name'] %> <% end %>(<%= @politician.party.name.upcase %>)
<% end %>

<div id="info">
	<h2><% if @latest_tweet %> <%= @latest_tweet.details['user']['name'] %> <% end %></h2>
	<ul class="accountList">
		<li>
			<a class="accountHandle" href="">All Tweets</a>
		</li>
		<li class="active">
			<a class="accountHandle" href=""><span>@<%= @politician.user_name %></span></a>
		</li>
		<li>
			<a class="accountHandle" href="">@AnotherAccount</a>
		</li>
	</ul>
	<div class="aboutAccount">
		<p>
			<% if @latest_tweet %> <%= @latest_tweet.details['user']['description'] %> <% end %><a href="">twitter page</a>
		</p>
	</div>
	<div class="clear"></div>
</div>

<% @tweets.each do |tweet| %>
	<%= render :partial => "tweets/tweet", :locals => {:tweet => tweet} %>
<% end %>

<%= render :template => "shared/pager" %>

<%= render :template => "shared/screenshotbox" %>

