<% content_for :title do %>
  Deleted tweets for <%= office_title_for(@politician) %> <%= @politician.first_name %> <%=@politician.last_name %> (<%= party_name_for(@politician) %>)<% if @page > 1 %> (Page <%= @page %>)<% end %>
<% end %>

<h1 class="app-name">Politwoops</h1>
<h2 class="app-dek">Deleted Tweets from Politicians</h2>
<p class="byline">Originally published by <a href="http://sunlightfoundation.com/">The Sunlight Foundation</a>. Updated regularly.</p>

<p class="guff">Politwoops tracks deleted tweets by current politicians, including those in office and candidates. Explore the collection of tweets that they didn't want you to see. If you think we're missing someone, please <a href="mailto:twoops@sunlightfoundation.com">email us</a> with their Name, State, Political Party, Office they hold or are seeking and, of course, Twitter handle.</p>

<div id="info">
	<h3>Deleted Tweets from <%= office_abbr_for(@politician) %> <%= @politician.first_name %> <%=@politician.last_name %> (<%= party_name_for(@politician) %>)</h3>
	<ul class="accountList">
		<li id="all-label" class="active">
			<a class="accountHandle" href="#"><span>All Tweets</span></a>
		</li>
        <% @accounts.each do |acc| %>
		<li id="<%= acc.user_name %>-label">
			<a class="accountHandle" href="#"><span>@<%= acc.user_name %></span></a>
		</li>
        <% end %>
	</ul>
    <div class="aboutAccount" id="all"><p></p></div>
    <% @accounts.each do |acc| %>
	<div class="aboutAccount" id="<%= acc.user_name %>" style="display:none;">
		<p>
			<% if @tweet_map[acc.user_name][0] %> <%= @tweet_map[acc.user_name][0].details['user']['description'] %> <% end %><a href="http://twitter.com/<%=acc.user_name%>">twitter page</a>
		</p>
	</div>
    <% end %>
    <div class="clear"></div>
</div>
<div id="all-container" class="tweet-content-container">
    <%= render :partial => "tweets/tweet", :collection => @tweet_map['all'], :object => :tweet %>
</div>

<% @accounts.each do |acc| %>
    <div style="display:none;" class="tweet-content-container" id="<%= acc.user_name %>-container">
        <% @tweet_map[acc.user_name].each do |tw| %>
            <%= render :partial => "tweets/tweet", :locals => {:tweet => tw} %>
        <% end %>
    </div>
<% end %>

<script type="text/javascript">
    jQuery('a.accountHandle span').click(function(){
       jQuery('ul.accountList li').removeClass('active');
       jQuery(this).parents('li').addClass('active');

       jQuery('.aboutAccount').hide();
       jQuery('div#info div#' + jQuery(this).parents('li').attr('id').replace('-label', '')).show();

       jQuery('.tweet-content-container').hide();
       jQuery('#' + jQuery(this).parents('li').attr('id').replace('-label', '-container')).show();
       return false;

    });

</script>

<%= render :template => "shared/pager" %>

<%= render :template => "shared/screenshotbox" %>
