<% content_for :title do %>

  <% if @politician.office != nil %>
    <%= @politician.office.title %>
  <% end %>

  <%= @politician.first_name %>
  <%=@politician.last_name %>

  <% if @politician.party != nil %>
      (<%= @politician.party.name.upcase %>)
  <% end %>
<% end %>

<div id="info">
	<h2>
    <% if @politician.office != nil %>
      <%= @politician.office.abbreviation %>
    <% end %>

    <%= @politician.first_name %> <%=@politician.last_name %> 

    <% if @politician.party != nil %>
       (<%= @politician.party.name.upcase %>)
    <% end %>
  </h2>
	
  <div class="aboutAccount" id="<%= @politician[:user_name] %>">
		<p> 
			<% if @tweets[0] %> <%= @tweets[0].details['user']['description'] %> <% end %><a href="http://twitter.com/<%=@politician[:user_name]%>"><%= t :twitter_page, :scope => [:politwoops] %></a>  
		</p>
	</div>

    <div class="clear"></div>
</div>
<div id="all-container" class="tweet-content-container">
    <% @tweets.each do |at| %>
        <%= render :partial => "tweets/tweet", :locals => {:tweet => at} %>
    <% end %>
</div>

<div style="display:none;" class="tweet-content-container" id="<%= @politician[:user_name] %>-container">
    <% @tweets.each do |tw| %>
        <%= render :partial => "tweets/tweet", :locals => {:tweet => tw} %>
    <% end %>
</div>

<!--<%= render :template => "shared/pager" %>-->

<%= render :template => "shared/screenshotbox" %>

