<% flash.each do |k,v| %>
    <div class="admin_<%= k %> <%= k %>">
        <%= v %>
    </div>
<% end %>

<% link_to("Refresh", :action => 'status', :controller => 'admin/system') %>

<div class="clear">
  <% if @last_tweet %>
    Last tweet seen <%= time_ago_in_words( @last_tweet.created ) %> ago.
  <% else %>
    No tweets seen yet.
  <% end %>
</div>

<ul id="worker-list" class="clear">
    <% @worker_statuses.each do |status| %>
        <li>
        <form
            action="<%= url_for :action => (status[:status] == 'dead') ? 'report' : 'restart' %>"
            method="POST">
            <%= csrf_meta_tag %>
            <input type="hidden" name="worker" value="<%= status[:worker] %>">

            <% if status[:status] == "running" %>
                <button class="worker-restart" style="display: inline">Restart</button>
            <% elsif status[:status] == "restarting" %>
                <button disabled="disabled" class="disabled" style="display: inline">Restarting</button>
            <% else %>
                <button disabled="disabled" class="disabled" style="display: inline">Dead</button>
            <% end %>
            <span class="worker-name"><%= status[:worker] %></span>
            <% if status[:last_seen] == 'stale' %>
                <span class="worker-last-seen" style="">(last seen @ <%= status[:last_seen] %>)</span>
            <% end %>
        </form>
        </li>
    <% end %>
</ul>

<table id="queue-list" class="clear">
    <thead>
        <tr>
            <th>Queue</th>
            <th>Pending Jobs</th>
        </tr>
    </thead>
    <tbody>
    <% @queue_stats.each do |stats| %>
        <tr>
            <td><%= stats[0] %></td>
            <td class="numeric"><%= stats[1].nil? ? 0 : stats[1]['current-jobs-ready'] %></td>
        </tr>
    <% end %>
    </tbody>
</table>
