<!doctype html>
<html>
<head>
  <title><%= t :site_name, :scope => [:politwoops] %> - <%= t :slogan, :scope => [:politwoops] %></title>
 
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "admin" %>
  <%= stylesheet_link_tag "select2" %>

  <%= javascript_include_tag "jquery-1.7.1.min" %>
  <%= javascript_include_tag "jquery.placehold-0.3.min" %>
  <%= javascript_include_tag "select2" %>
  <%= javascript_include_tag "select2_locale_ar" %>

  <%= csrf_meta_tag %>
  <link rel="icon" href="/images/favicon.png" type="image/png">

  <%= content_for :feeds %>
  <script>
        $(document).ready(function() { $("#pol_select").select2(); });
  </script>
</head>
<body>
  <div class="container">
		<header>
			
			<h1><a class="textReplace clear" href="/"><%= t :site_name, :scope => [:politwoops] %> - <small>Deleted Tweets from Politicians</small></a></h1>
			<div class="clear"></div>

		</header>
		<div id="ltColumn">
			<div class="module">
        <ul>
          <li><a href="/admin/review/"><%= t :review_twoops, :scope => [:politwoops,:admin] %> </a></li>
          <li><a href="/admin/users/"><%= t :list_users, :scope => [:politwoops,:admin] %></a></li>
          <li><a href="/admin/parties/"><%= t :list_parties, :scope => [:politwoops,:admin] %></a></li>
          <li><a href="/admin/offices/"><%= t :list_offices, :scope => [:politwoops,:admin] %></a></li>
          <li><a href="/admin/status/"><%= t :system_status, :scope => [:politwoops,:admin] %></a></li>
        </ul>
      </div>
    </div>

  <div id="rtColumn">
    <%= yield %>
  </div>

  <div class="clear"></div>
</div>
	<footer>
            <div class="container">
               <nav>
        <ul>
          <!-- <li>
            <a href="http://sunlightfoundation.com/blog/2012/05/30/announcing-politwoops/">More information</a>
          </li> -->
          <li>
            <a href="mailto:info@kelmetak.com"><%= t('politwoops.contact_menu.contact_us') %></a>
          </li>
        </ul>
        <ul>
          <li class="clear" id="socialMedia">
            <script type="text/javascript" src="http://cdn.gigya.com/js/gigyaGAIntegration.js" ></script>
            <script src="http://cdn.gigya.com/js/socialize.js?apiKey=3_BLRB_2LlQJZDUW1wb9_ZOps-sOnnzA_e6xxNSwJBBGoB-SavmPAKHkaVVZPE5Kx8"></script>
          </li>
        </ul>
      </nav>
       <p style="text-align:center">
                © 2013              eSpace Technologies. All Rights Reserved.
                </p>
            </div>
        </footer>

</body>
</html>
