<!doctype html>
<html>
<head>
  <title>Politwoops - <%= t :slogan, :scope => [:politwoops] %></title>

  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "application" %>

  <%= javascript_include_tag "jquery-1.7.1.min" %>
  <%= javascript_include_tag "jquery.placehold-0.3.min" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "admin" %>


  <%= csrf_meta_tag %>
  <link rel="icon" href="/assets/favicon.png" type="image/png">

  <%= content_for :feeds %>
</head>
<body>
  <div class="main-layout admin">
    <div class="main container-fluid">
      <header class="header">
        <nav class="navbar" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#retirolodicho-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand logo" href="/"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="retirolodicho-navbar-collapse">
              <div class="share-buttons">
                <span class='st_facebook_hcount' displayText='Facebook'></span>
                <span class='st_twitter_hcount' displayText='Tweet'></span>
                <span class='st_googleplus_hcount' displayText='Google +'></span>
              </div>
              <div class="menu clear">
                <a href="/estadísticas">Estadísticas</a>
                <a href="/users">A quiénes seguimos</a>
                <a href="http://www.abrelatam.org/da/">Datos Abiertos</a>
                <a href="mailto:contacto@datauy.org">Contacto</a>
                <form class="navbar-form navbar-left" role="search" action="/" method="get">
                  <div class="form-group">
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    <input class="form-control" type="text" placeholder="Buscar..." name="q" value="<%= h params[:q] %>"/>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </nav>

        <div class="splitter"></div>
      </header>

      <div class="row content">
        <div class="col-md-3 col-sm-4 left-sidebar">
          <img class="twoopsters" src="/assets/twoopsters.png">

          <h2>Politwoops Admin</h2>
          <ul>
            <li><a href="/admin/review/">Review Tweets</a></li>
            <li><a href="/admin/users/">Users</a></li>
          </ul>
        </div>

        <div class="col-md-9 col-sm-8 main-content">
          <div class="container-fluid">
              <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
              <p>
                Somos una organización de la sociedad civil que trabaja
                creando herramientas sociales por la transparencia,
                datos abiertos y accesso a la información.
              </p>
              <p>
                Si querés conocer más proyectos como este, podés visitar
                nuestro sitio web. ¡Hay un montón de cosas interesantes!
              </p>
          </div>
          <div class="col-md-4 center">
            <img src="/assets/datauy_logo.png">
            <img src="/assets/datos_abiertos_logo.png">
          </div>
          <div class="col-md-4 right">
            <p>
              Si querés enterarte de las novedades de éste y otros
              proyectos, seguinos en redes sociales:
            </p>
            <p>
              <span class="logo facebook"><img src="/assets/facebook_logo.png"></span>
              <span class="logo twitter"><img src="/assets/twitter_logo.png"></span>
              <span class="logo youtube"><img src="/assets/youtube_logo.png"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
