<!DOCTYPE html>
<html>
<head>
  <title>Politwoops</title>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<a href="/"><img src="/images/logo.png" alt="politwoops" /></a>
		</div>

    <% if flash[:notice] %>
        <div id="notice"><%= flash[:notice] %></div>
    <% end %>
    
		<%= yield %>

		<div id="footer">
			<div id="hdo">
				<a href="http://www.hackdeoverheid.nl/"><img src="/images/hackdeoverheid.png" alt="Een hackdeoverheid project"></a>
			</div>
			<div class="clear">
			</div>
		</div>

	</div>
<%= render :partial => "layouts/analytics" %>
<div class="footer">
<a href="/login">login</a> (<%= @group_default_name %>)
</div>
</body>
</html>
