<!doctype html>
<html>
<head>
  <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

  <% if content_for?(:title) %>
    <title><%= yield(:title) %> - Politwoops</title>
  <% else %>
    <title>Politwoops - <%= t :slogan, :scope => [:politwoops] %></title>
  <% end %>

  <%= stylesheet_link_tag "style" %>

  <%= javascript_include_tag "jquery-1.7.1.min" %>
  <%= javascript_include_tag "jquery.placehold-0.3.min" %>

  <%= csrf_meta_tag %>
  <link rel="icon" href="/images/favicon.png" type="image/png">

  <%= content_for :feeds %>
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <header>
    <form action="/" method="get" id="search">
      <input type="search" placeholder="Search" name="q" value="<%= h params[:q] %>"/>
    </form>
    <h1><a class="textReplace clear" href="/">Politwoops <small>Deleted Tweets from Politicians</small></a></h1>
    <div class="clear" id="socialMedia">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="sunfoundation" data-hashtags="politwoops" data-dnt="true">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      <div class="fb-like" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div>
    </div>
    <div class="clear"></div>
    
  </header>
  <div id="ltColumn">
    <div class="module">
      <p id="intro">Sure, we all tweet things we don't mean to share, but now politicians have no way to hide them. <strong>Discover tweets that your politicians shared and then promptly deleted.</strong></p>
      <p>
      <p>
        To meet the <a href="https://dev.twitter.com/terms/api-terms">Twitter API Terms of Service</a>, all deleted tweets shown here since June 22, 2012 have been reviewed and approved by the Sunlight Foundation.
      </p>
    </div>
    <div class="module">
      <span class="tip">US edition produced by:</span>
      <a id="sunlight" class="textReplace" href="http://sunlightfoundation.com">Sunlight Foundation</a>
    </div>
    <div class="module">
      <span class="tip">Original Dutch version:</span>
      <span id="otherOrg">
        <a href="http://politwoops.nl">Politwoops.nl</a>
      </span>
    </div>
    <div class="module">
      <span class="tip">Original code and concept provided by:</span>
      <span id="otherOrg">
        <a href="http://openstate.eu/">Open State Foundation</a>
      </span>
    </div>

    <div class="module">
      <a href="http://sunlightfoundation.com/blog/2012/05/30/announcing-politwoops/">More information</a><br/>
      <a href="mailto:twoops@sunlightfoundation.com">Contact us</a>
    </div>
  </div>

  <div id="rtColumn">
    <%= yield %>
  </div>

  <div class="clear"></div>
	
  <%= render :partial => "layouts/analytics" %>
</body>
</html>