<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Language" content="en">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta NAME="ROBOTS" CONTENT="NOFOLLOW">

  <title><%= yield :title %></title>

  <!-- switchy -->
  <meta name="viewport" content="width=device-width, maximum-scale=1.0">
  <!-- /switchy -->

  <meta name="author" content="Derek Willis" />
  <meta name="scope" content="" />
  <meta name="keywords" content="" />
  <meta name="project" content="Politwoops" />
  <meta name="type" content="project" />
  <meta name="description" content="<%#= @guff['main']['Social-Long-Description'] %>" />
  <% if (controller.controller_name == "search") || (!params[:search].nil? && !params[:search].empty?) %>
    <link rel="canonical" href="https://projects.propublica.org<%= request.fullpath %>" />
  <% else %><%# for non-search, normalize trailing slash & querystring args so google is happy %>
    <link rel="canonical" href="<%= url_for(only_path: false) %>" />
  <% end %>

  <!-- add these meta tags for facebook -->
  <meta property="og:title" content="Politwoops">
  <meta property="og:url" content="https://projects.propublica.org/politwoops/">
  <meta property="og:site_name" content="ProPublica">
  <meta property="og:article:published_time" content="December 12, 2016">
  <meta property="og:type" content="article"/>
  <meta property="og:image" content="<%#= @guff['main']['Social-Image'] %>"/>
  <meta property="og:site_name" content="ProPublica"/>
  <meta property="fb:admins" content="383965056549"/>
  <meta property="fb:app_id" content="229862657130557">
  <meta property="og:description" content="<%#= @guff['main']['Social-Long-Description'] %>"/>
  <meta property="og:article:published_time" content="2016-12-12">

  <!-- add these meta tags for twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@ProPublica">
  <meta name="twitter:creator" content="@ProPublica">
  <meta name="twitter:title" content="Politwoops">
  <meta name="twitter:description" content="<%#= @guff['main']['Social-Short-Description'] %>">
  <meta name="twitter:image:src" content="<%#= @guff['main']['Social-Image'] %>">
  <meta property="twitter:url" content="https://projects.propublica.org/politwoops/">

  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/795188/727228/css/fonts.css" />
  <% if false %>
  <link rel="stylesheet" href="https://d1t8xfi7n2gbr1.cloudfront.net/deploy/css/reset.css?1337900771" type="text/css" media="all" charset="utf-8">
  <link rel="stylesheet" href="https://d1t8xfi7n2gbr1.cloudfront.net/deploy/css/propublica-text.css?1337900771" type="text/css" media="all" charset="utf-8">
  <link rel="stylesheet" href="https://d1t8xfi7n2gbr1.cloudfront.net/deploy/css/master.css?1337900771" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="https://d1t8xfi7n2gbr1.cloudfront.net/deploy/css/print.css?1337900771" type="text/css" media="print" charset="utf-8">
  <link rel="stylesheet" type="text/css" media="screen and (max-width: 480px)" href="https://d1t8xfi7n2gbr1.cloudfront.net/deploy/css/woland.css?1337784446" charset="utf-8" />
  <% end %>
  <%= stylesheet_link_tag "propublica_base/base", :media => "all" %>
  <%= stylesheet_link_tag "propublica_base/master", :media => "screen" %>
  <%= stylesheet_link_tag "propublica_base/print", :media => "print" %>
  <%= stylesheet_link_tag "propublica_base/woland", :media => "screen and (max-width: 480px)" %>

  <script>
    RAILS_ENV = "<%= Rails.env %>";
    RAILS_ROOT = "<%= root_path %>";
    PP_SHARING_URL = "https://projects.propublica.org<%= root_path %>"
  </script>

  <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
  <script type="text/javascript">
    window.dataLayer = [{
      'contentType': 'App',
      'publicationDate': 'December 12, 2016 11:00:00',
      'articleTitle': 'Politwoops',
      'authorName': 'Derek Willis'
    }];
 </script>

  <script charset="utf-8">
     var _sf_async_config = (window._sf_async_config || {});
      _sf_async_config.sections = "news apps";
      _sf_async_config.authors = "derek willis";
      _sf_async_config.domain = "propublica.org";
      _sf_async_config.useCanonical = true;
  </script>

  <script type="text/javascript" src="https://www.propublica.org/js/public/assets/all.js"></script>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <script type="text/javascript" src="https://www.propublica.org/js/public/assets/google_ads_boot.js"></script>
  <script type="text/javascript">
     (function(){
       var o = function(it) { return it.replace(/\s+/g, "_") };
       googletag.pubads().setTargeting('project', o('Politwoops'));
       googletag.pubads().setTargeting('type',    o('newsapp'));
     })();
  </script>
  <script type="text/javascript" src="https://www.propublica.org/js/public/assets/google_ads.js?2012101501" charset="utf-8"></script>

</head>
<!-- user-testing -->
<body class="app <%= controller.controller_name %>">
  <script type="text/javascript" src="https://www.propublica.org/js/public/assets/beacons.js"></script>
  <script src="https://connect.facebook.net/en_US/all.js"></script>
  <div id="fb-root"></div>
  <script>
    FB.init({
      appId      : '229862657130557', // App ID
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });
  </script>

  <div id="header">
    <div class="background-color"></div>
    <div class="wrapper cf">
      <h5><a href="https://www.propublica.org/"></a></h5>
      <h4><a href="<%= url_for root_path %>">Politwoops</a></h4>
      <div class="donate">
        <h2><a href="https://www.propublica.org/site/donate3/">Donate</a></h2>
      </div>
      <ul id="banner-share">
        <li class="facebook social-widget ss-fb" data-title="Politwoops" data-img="<%#= @guff['main']['Social-Image'] %>" data-url="https://projects.propublica.org/politwoops/" data-hashtag=""><a href="#">Share on Facebook</a></li>
        <li class="twitter social-widget ss-tw" data-txt="<%#= @guff['main']['Social-Default-Tweet'] %>" data-url="https://projects.propublica.org/politwoops/" data-hashtag=""><a href="#">Share on Twitter</a></li>
      </ul>
    </div>
  </div>

  <div id="content" class="<%= params[:controller] %>-<%= params[:action] %>">
    <div class="wrapper">
      <div id="politwoops-app" class="politwoops-app">
        <div class="wrap">
          <%= yield %>
        </div>
      </div>
      <footer>
        <p>Original Dutch version: <a href="http://politwoops.nl/">Politwoops.nl</a></p>
      </footer>
    </div>
  </div>


  <div id="fb-root"></div>
  <div id="footer">
    <div class="wrapper">
      <div id="footer-logo">
        <p id="footer-logo-image">ProPublica</p>
        <p>&copy; Copyright <%= Date.today.year %><br />
        Pro Publica Inc.</p>
      </div>
      <div style="clear:both;"></div>
    </div>
  </div>

</body>
</html>
