<!doctype html>
<html>
<head>
        <% if content_for?(:title) %>
	<title><%= yield(:title) %> - Politwoops</title>
	<% else %>
	<title>Politwoops - <%= t :slogan, :scope => [:politwoops] %></title>
	<% end %>

    <meta property="og:url" content="<%= url_for(:only_path => false) %>">
    <meta property="og:title" content="Politwoops US">
    <meta property="og:description" content="Politwoops is the only comprehensive collection of deleted tweets by U.S. politicians that offers a window into what they hoped you didn't see.">
    <meta property="og:image" content="http://politwoops.sunlightfoundation.com/images/logo.png">

	<script type="text/javascript" src="//use.typekit.net/utl6xyx.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

	<%= stylesheet_link_tag "colorbox" %>

	<%= stylesheet_link_tag "style" %>

	<%= content_for :head %>

	<%= javascript_include_tag "jquery-1.7.1.min" %>
	<%= javascript_include_tag "jquery.placehold-0.3.min" %>
	<%= javascript_include_tag "jquery.colorbox-min" %>

	<%= csrf_meta_tag %>
	<link rel="icon" href="/images/favicon.png" type="image/png">

	<%= content_for :feeds %>
</head>
<body<%if content_for?(:body_class) %> <%= yield(:body_class) %> <% end %>>
  <div class="sf-header">
      <div class="container">
          
          <a class="sf-logo" href="http://www.sunlightfoundation.com">Sunlight Foundation</a>
          
      </div>
  </div>
  <script>
    $(document).ready(function() {
        var ua = new gigya.socialize.UserAction();
        ua.setTitle($('title').text());
        /*
         * Set these values as you would with Open Graph tags on the page.
         * Delete what you don't need.
         */
        // ua.setLinkBack("http://sunlightfoundation.com/blog/2012/07/09/2day-in-opengov-792012/");
        ua.addMediaItem({
            type: 'image',
            href: '<%= escape_javascript request.url %>',
            src: 'http://politwoops.sunlightfoundation.com/images/logo.jpg'
        });
        
        /*
         * parameter docs at:
         * http://developers.gigya.com/020_Client_API/020_Methods/socialize.showShareBarUI
         */
        var params = {
            containerID: 'socialMedia',
            iconsOnly: true,
            layout: 'horizontal',
            noButtonBorders: true,
            shareButtons: 'twitter,facebook',
            shortURLs: 'never',
            showCounts: 'right',
            userAction: ua
        };
        gigya.socialize.showShareBarUI(params);

        $("a.screenshot").each(function(idx, a){
            $(a).colorbox({
                rel: 'screenshot' + idx,
                opacity: 0.7,
                maxWidth: '90%',
                close: 'Close'
            });
        });
        $(document).bind('cbox_complete', function(event){
            $("img.cboxPhoto").click(function(event){
                window.open($(this).attr('src'));
            });
        });
    });
  </script>

	<div class="container">
		<header>
			<nav>
				<ul>
					<li>
						<a href="/users">Politicians</a>
					</li>
					<li>
						<a href="http://sunlightfoundation.com/blog/2012/05/30/announcing-politwoops/">More information</a>
					</li>
					<li>
						<a href="mailto:twoops@sunlightfoundation.com">Contact us</a>
					</li> 
				</ul>
				<div id="socialMedia" style="margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px; visibility: visible;">
					<script type="text/javascript" src="http://cdn.gigya.com/js/gigyaGAIntegration.js" ></script>
					<script src="http://cdn.gigya.com/js/socialize.js?apiKey=3_BLRB_2LlQJZDUW1wb9_ZOps-sOnnzA_e6xxNSwJBBGoB-SavmPAKHkaVVZPE5Kx8"></script>
				</div>
			</nav>
			<h1><a class="textReplace clear" href="/">Politwoops <small>Deleted Tweets from Politicians</small></a></h1>
			<form action="/" method="get" id="search">
				<input type="search" placeholder="Search" name="q" value="<%= h params[:q] %>"/>
				<button class="textReplace" id="searchBtn">search</button>
			</form>
			<div class="clear"></div>

		</header>
		<div id="ltColumn">
			<img class="twoopsters" src="/images/twoopsters.png">
			<div class="module">
				<p id="intro">
					<strong>Sure</strong>, we all tweet things we don't <span class="strikethrough">men</span> mean to share, but now politicians have no way to hide them. <strong>Discover tweets that your politicians shared and then deleted.</strong>
				</p>
				<p id="terms">
				To meet the <a href="https://dev.twitter.com/terms/api-terms">Twitter API Terms of Service</a>, all deleted tweets shown here since June 22, 2012 have been reviewed and approved by the Sunlight Foundation.
				</p>
			</div>
			<div class="module">
				<h4>Original Dutch version:</h4>
				<a href="http://politwoops.nl">Politwoops.nl</a>
			</div>
		</div>

		<div id="rtColumn">
			<%= yield %>
		</div>

		<div class="clear"></div>
	</div>

	<footer>
            <div class="container">
                <div class="signup">
                    <h4>Like this Project and Want to Discover Others Like It?</h4>
                    <span class="tip">Join the Sunlight Foundation's open government community to learn more</span>
                    <form action="/subscribe/" method="post" id="sfapp-subscribe-form" class="form-inline">
                        <div style="display:none"><input type="hidden" name="csrfmiddlewaretoken" value="y42oYsUK2EGBAkFj265Bv8Q4BqDCNS8S"></div>
                        <input type="text" name="email" placeholder="your email address">
                        <input type="text" name="zipcode" placeholder="your zip code">
                        <button type="submit" class="btn btn-sunlight">Sign Up</button>
                    </form>
                </div>
                <div class="span6 terms">
                    <p>Our <a href="http://sunlightfoundation.com/legal/privacy/">privacy policy</a> details how personally identifiable information that is collected on our web sites is handled. Read our <a href="http://sunlightfoundation.com/legal/terms/">terms of service</a>.</p>
                    <p>This work by <a href="http://sunlightfoundation.com">Sunlight Foundation</a>, unless <a href="http://sunlightfoundation.com/colophon/">otherwise noted</a>, is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 United States License</a>.</p>
                </div>
            </div>
        </footer>

	<%= render :partial => "layouts/analytics" %>
	</body>
</html>
