<!DOCTYPE html>
<html>
<head>
  <% if content_for?(:title) %>
    <title><%= yield(:title) %> - Politwoops</title>
  <% else %>
    <title>Politwoops</title>
  <% end %>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <link rel="icon" href="/images/favicon.png" type="image/png">
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<a href="/">Politwoops</a>
		</div>

    <% if flash[:notice] %>
        <div id="notice"><%=raw flash[:notice] %></div>
    <% end %>
    
        <div id="content">
		<%= yield %>
        </div>
        
		<div id="footer">
			<div id="hdo">
				<a href="http://www.hackdeoverheid.nl/">Een hackdeoverheid project</a>
			</div>
			<div class="clear">
			</div>
		</div>

	</div>
<div id="footer-menu">
<% if current_user.nil? %>
<a href="/login">inloggen</a>
<% else %>
<a href="/account">menu</a> | <a href="/logout">uitloggen</a>
<% end %>
<!-- facebook like -->
<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=195983330448516&amp;xfbml=1"></script><fb:like send="true" width="450" show_faces="true" font="lucida grande"></fb:like>
</div>
<%= render :partial => "layouts/analytics" %>
</body>
</html>
