<!doctype html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,600' rel='stylesheet' type='text/css'>
  <% if content_for?(:title) %>
    <title><%= yield(:title) %> - Retiro lo Dicho</title>
  <% else %>
    <title>Retiro lo Dicho - <%= t :slogan, :scope => [:politwoops] %><% if not @page.nil? and @page > 1 %> (Page <%= @page %>)<% end %></title>
  <% end %>

  <!-- <meta name="google&#45;site&#45;verification" content="CQWBNRNvRMb4Gd5s2HE03&#45;2g5Dkk3VvvGwZbeNmd5H8" /> -->
  <meta property="og:url" content="<%= url_for(:only_path => false) %>">
  <meta property="og:title" content="Retiro lo Dicho US">
  <meta property="og:description" content="Retiro tiene la collección de tweets eliminados de Uruguay.">
  <meta property="og:image" content="<%= root_url %>assets/og_politwoops.jpg">
  <meta property="og:image:url" content="<%= root_url %>assets/og_politwoops.jpg">
  <meta property="og:image:width" content="200">
  <meta property="og:image:height" content="200">
  <meta name="description" content="Retiro tiene la collección de tweets eliminados de Uruguay.">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "colorbox" %>
  <%= stylesheet_link_tag "donorbanner" %>

  <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

  <%= content_for :head %>

  <%= javascript_include_tag "jquery-1.7.1.min" %>
  <%= javascript_include_tag "jquery.placehold-0.3.min" %>
  <%= javascript_include_tag "jquery.colorbox-min" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tag %>
  <link rel="icon" href="/assets/favicon.png" type="image/png">

  <%= content_for :feeds %>
</head>

<body<%if content_for?(:body_class) %> <%= yield(:body_class) %> <% end %>>
  <div class="main-layout">
  <div class="main container-fluid">
    <header class="header">
      <nav class="navbar" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#retirolodicho-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="/"></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="retirolodicho-navbar-collapse">
            <div class="share-buttons" data-socialite="auto" data-services="twitter-tweet, facebook-like" data-options="linkback="<%= escape_javascript request.url %>" data-facebook-like-options="width=100&amp;colorscheme=light&amp;show-faces=false&amp;layout=button_count" data-twitter-tweet-options="text=Track the deleted tweets of U.S. politicians using Politwoops (from @SunFoundation):&amp;url=<%= escape_javascript request.url %>"></div>
            <div class="menu clear">
              <a href="/estadísticas">Estadísticas</a>
              <a href="/users">A quiénes seguimos</a>
              <a href="http://www.datauy.org">Datos Abiertos</a>
              <a href="mailto:contacto@datauy.org">Contacto</a>
              <form class="navbar-form navbar-left" role="search" action="/" method="get">
                <div class="form-group">
                  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                  <input class="form-control" type="text" placeholder="Buscar..." name="q" value="<%= h params[:q] %>"/>
                </div>
              </form>
            </div>
          </div>
        </div>
      </nav>

      <div class="splitter"></div>
    </header>

    <div class="row content">
      <div class="col-md-3 col-sm-4 left-sidebar">
        <img class="twoopsters" src="/assets/twoopsters.png">
        <h2>¿Qué es esto?</h2>
        <p>
          Escribís algo, no te convence, lo borrás. Escribís de nuevo, descubrís
          un error y lo borrás. Pero en estos tiempos nada desaparece, ni
          siquiera los tweets borrados.
        </p>
        <p>
          Fijate qué se arrepintieron de publicar las personas y organizaciones
          que hacen a la política en Uruguay.
        </p>

        <div class="logos owner">
          <p>Un proyecto de:</p>
          <a class="datauy logo" href="http://www.datauy.org" alt="datauy"><img src="/assets/datauy_inverse_logo.png"></a>
        </div>

        <div class="logos sponsors">
          <p>Posible gracias a:</p>
          <a class="neo logo" href="http://www.neo.com" alt="neo"><img src="/assets/neo_logo.png"></a>
          <br/>
          <a class="sf logo" href="http://www.sunlightfoundation.com" alt="Sunlight Foundation"><img src="/assets/sfapp_logo.png"></a>
        </div>
      </div>

      <div class="col-md-9 col-sm-8 main-content">
        <div class="container-fluid">
            <%= yield %>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
            <p>
              Somos una organización de la sociedad civil que trabaja
              creando herramientas sociales por la transparencia,
              datos abiertos y accesso a la información.
            </p>
            <p>
              Si querés conocer más proyectos como este, podés visitar
              nuestro sitio web. ¡Hay un montón de cosas interesantes!
            </p>
        </div>
        <div class="col-md-4 center">
          <img src="/assets/datauy_logo.png">
          <img src="/assets/datos_abiertos_logo.png">
        </div>
        <div class="col-md-4 right">
          <p>
            Si querés enterarte de las novedades de éste y otros
            proyectos, seguinos en redes sociales:
          </p>
          <p>
            <span class="logo facebook"><img src="/assets/facebook_logo.png"></span>
            <span class="logo twitter"><img src="/assets/twitter_logo.png"></span>
            <span class="logo youtube"><img src="/assets/youtube_logo.png"></span>
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>

  <script type="text/javascript" src="https://s3.amazonaws.com/assets.sunlightfoundation.com/social/scripts/simple-socialite-pack.min.js"></script>
  <%# <%= render :partial => "layouts/analytics" %>
</body>
</html>
