<!doctype html>
<html>
<head>
  <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

  <% if content_for?(:title) %>
    <title><%= yield(:title) %> - Politwoops</title>
  <% else %>
    <title>Politwoops - <%= t :slogan, :scope => [:politwoops] %></title>
  <% end %>

  <%= stylesheet_link_tag "style" %>

  <%= content_for :head %>

  <%= javascript_include_tag "jquery-1.7.1.min" %>
  <%= javascript_include_tag "jquery.placehold-0.3.min" %>

  <%= csrf_meta_tag %>
  <link rel="icon" href="/images/favicon.png" type="image/png">

  <%= content_for :feeds %>
</head>
<body>
  <script>
    $(document).ready(function() {
        var ua = new gigya.socialize.UserAction();
        
        /*
         * Set these values as you would with Open Graph tags on the page.
         * Delete what you don't need.
         */
        // ua.setLinkBack("http://sunlightfoundation.com/blog/2012/07/09/2day-in-opengov-792012/");
        ua.addMediaItem({
            type: 'image',
            href: '<%= escape_javascript request.url %>',
            src: 'http://politwoops.sunlightfoundation.com/images/logo.jpg'
        });
        
        /*
         * parameter docs at:
         * http://developers.gigya.com/020_Client_API/020_Methods/socialize.showShareBarUI
         */
        var params = {
            containerID: 'socialMedia',
            iconsOnly: true,
            layout: 'horizontal',
            noButtonBorders: true,
            shareButtons: 'twitter-tweet,facebook-send',
            shortURLs: 'never',
            showCounts: 'right',
            userAction: ua
        };
        gigya.socialize.showShareBarUI(params);
    });
  </script>


  <header>
    <form action="/" method="get" id="search">
      <input type="search" placeholder="Search" name="q" value="<%= h params[:q] %>"/>
    </form>
    <h1><a class="textReplace clear" href="/">Politwoops <small>Deleted Tweets from Politicians</small></a></h1>
    <h2><a id="sunlight" class="textReplace" href="http://sunlightfoundation.com">Sunlight Foundation</a></h2>
    <div class="clear" id="socialMedia">
      <script type="text/javascript" src="http://cdn.gigya.com/js/gigyaGAIntegration.js" ></script>
<script src="http://cdn.gigya.com/js/socialize.js?apiKey=3_BLRB_2LlQJZDUW1wb9_ZOps-sOnnzA_e6xxNSwJBBGoB-SavmPAKHkaVVZPE5Kx8"></script>
    </div>
    <div class="clear"></div>
    
  </header>
  <div id="ltColumn">
    <div class="module">
      <p id="intro">Sure, we all tweet things we don't mean to share, but now politicians have no way to hide them. <strong>Discover tweets that your politicians shared and then promptly deleted.</strong></p>
      <p>
      <p>
        To meet the <a href="https://dev.twitter.com/terms/api-terms">Twitter API Terms of Service</a>, all deleted tweets shown here since June 22, 2012 have been reviewed and approved by the Sunlight Foundation.
      </p>
    </div>
    <div class="module">
      <span class="tip">Original Dutch version:</span>
      <span id="otherOrg">
        <a href="http://politwoops.nl">Politwoops.nl</a>
      </span>
    </div>
    <div class="module">
      <span class="tip">Original code and concept provided by:</span>
      <span id="otherOrg">
        <a href="http://openstate.eu/">Open State Foundation</a>
      </span>
    </div>

    <div class="module">
      <a href="http://sunlightfoundation.com/blog/2012/05/30/announcing-politwoops/">More information</a><br/>
      <a href="mailto:twoops@sunlightfoundation.com">Contact us</a>
    </div>
  </div>

  <div id="rtColumn">
    <%= yield %>
  </div>

  <div class="clear"></div>
	
  <%= render :partial => "layouts/analytics" %>
</body>
</html>