<!doctype html>
<html>
<head>
  <meta name="author" content="eSpace">
  <% site_title = content_for?(:title)  ? 
          "#{yield(:title)} - #{t(:site_name, :scope => [:politwoops])}"  : 
          "#{t(:site_name, :scope => [:politwoops])} - #{t(:slogan, :scope => [:politwoops])}"
  %>
  <title><%= site_title %></title> 
  <meta property='og:title' content='<%= site_title %>'/>
  
  <%
    site_description = content_for?(:description) ? 
                        "#{yield(:description)} - #{t(:site_name, :scope => [:politwoops])}" : 
                        "#{t('politwoops.site_name')} - #{t(:slogan, :scope => [:politwoops])}"

  %>
  <meta name="description" content="<%= site_description  %>" />
  <meta property='og:description' content="<%= site_description  %>"/>
  
  <%
    site_image = content_for?(:meta_image) ?
                  yield(:meta_image) : 
                  "http://2ad.kelmetak.com/images/standalone-logo.png"
  %>
  <meta property="og:image" content="<%= site_image %>" />

  <meta property='og:type' content='website'/>
  <meta property='og:site_name' content='<%=t(:site_name, :scope => [:politwoops])%>'/>
  <meta property='fb:admins' content='723440133'/>
  
  
	<script type="text/javascript" src="//use.typekit.net/utl6xyx.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

	<%= stylesheet_link_tag "colorbox" %>

    <%= stylesheet_link_tag "select2" %>
	<%= stylesheet_link_tag "style" %>
    
	<%= content_for :head %>

	<%= javascript_include_tag "jquery-1.7.1.min" %>
	<%= javascript_include_tag "jquery.placehold-0.3.min" %>
	<%= javascript_include_tag "jquery.colorbox-min" %>
    <%= javascript_include_tag "select2" %>
    <%= javascript_include_tag "select2_locale_ar" %>
    <%= javascript_include_tag "html5shiv" %>
	<%= csrf_meta_tag %>
	<link rel="icon" href="/favicon.ico" type="image/x-icon">

	<%= content_for :feeds %>

</head>
<body <%if content_for?(:body_class) %> <%= yield(:body_class) %> <% end %>>

    <!-- Facebook like button -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ar_AR/all.js#xfbml=1&appId=337697893023041";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!--End of Facebook like button -->

    <!-- Select2 -->
    <script>
        $(document).ready(function() { 
            $("#pol_select").select2({
                placeholder: "<%= t 'politwoops.politicians.name_select_label' %>",
                allowClear: true
            });
            $("#party_select").select2({
                placeholder: "<%= t 'politwoops.parties.name_label' %>",
                allowClear: true
            });
            $("#e2").select2({
                placeholder: "Select a State",
                allowClear: true
            });
        });

    </script>
    <!-- End of Select2 -->

  <script>
    $(document).ready(function() {
        $("a.screenshot").each(function(idx, a){
            $(a).colorbox({
                rel: 'screenshot' + idx,
                opacity: 0.7,
                maxWidth: '90%',
                close: 'Close'
            });
        });
        $(document).bind('cbox_complete', function(event){
            $("img.cboxPhoto").click(function(event){
                window.open($(this).attr('src'));
            });
        });
    });
  </script>

	<div class="container">
        <header class="clearfix">
            <div class="clearfix">
                <h1>
                    <a class="textReplace clear" href="/">
                        <%= t :site_name, :scope => [:politwoops] %>
                        <small><%= t :slogan, :scope => [:politwoops] %></small>
                    </a>
                </h1>

                <div class="social">
                    <div class="fb-like" data-href="http://www.facebook.com/2ad.kelmetak" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                    <div class="twitter-share">
                        <a href="https://twitter.com/share?url=http://2ad.kelmetak.com" class="twitter-share-button" data-lang="ar">تغريد</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                </div>  

           </div>
           
           <div class="clearfix">
                <ul class="main-nav">
                    <li><%= link_to "الرئيسية", "/", :class => current_page?(:controller => 'tweets', :action => 'index') ? "selected" : "" %></li>
                    <li><%= link_to t('politwoops.groups.list_politicians_label'), "/users/list", :class => current_page?(:controller => 'politicians', :action => 'index') ? "selected" : "" %></li>
                    <li><%= link_to t('politwoops.groups.suggest_politicians_label'), "/users/suggest", :class => current_page?(:controller => 'politicians', :action => 'suggest') ? "selected" : "" %></li>
                </ul>

                <div class="links">
                    <a href="http://www.facebook.com/2ad.kelmetak" target="_blank"><img src="/images/facebook.png" /></a>
                    <a href="http://twitter.com/2adkelmetak" target="_blank"><img src="/images/twitter.png" /></a>
                </div>

                <div class="search">
                    <form action="/" method="get" id="search">
                        <input type="search" placeholder="  <%= t('politwoops.form.search') %>" name="q" value="<%= h params[:q] %>"/>
                        <button class="textReplace" id="searchBtn"><%= t('politwoops.form.filter') %></button>
                    </form>
                </div>

           </div>
            

		</header>
    

		<div id="container clearfix">
	<%= render :partial => "layouts/ads" %>
            <div class="main-content">
			 <%= yield %>
            </div>

		</div>

		
	</div>

    <div id="footerWrapper">
	   <footer>
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a href="/">الرئيسية</a>
                        </li>
                        <li>
                            <a href="/users/list"><%= t('politwoops.groups.list_politicians_label')%></a>
                        </li>
                        <li>
                            <a href="/users/suggest"><%= t('politwoops.groups.suggest_politicians_label')%></a>
                        </li>
                        <li>
                            <a href="/about"><%= t('politwoops.contact_menu.more_information') %></a>
                        </li>
                        <li>
                            <a href="mailto:info@kelmetak.com"><%= t('politwoops.contact_menu.contact_us') %></a>
                        </li> 
                    </ul>   
                </nav>
                <div class="copyrights">
                  <p>تم التطوير بواسطة </p>
                  <a class="espaceLogo" target="_blank" href="http://bit.ly/2ad_kelmetak_espace">&nbsp;</a>
                </div>
                <p style="clear:both;"> جميع الحقوق محفوظة ©</p>
            </div>
        </footer>
    </div>

	<%= render :partial => "layouts/analytics" %>

	</body>
</html>
