<div id="tweet-<%= tweet.id %>" class="tweet">
  <a href="/user/<%= tweet.politician.user_name %>">
    <img src="<%= avatar_url tweet.politician.user_name %>" alt="<%= tweet.politician.user_name %>" width"73" height="73" />
  </a>
  <div class="content">
    <div class="tweet-content">
    <a href="/user/<%= tweet.politician.user_name %>"><%= tweet.details['user']['name'] %></a>
	<% if !tweet.politician.nil? %>
	(<a href="/party/<%= tweet.politician.party.name %>"><%= tweet.politician.party.name %></a>)
	<% end %>
  <% if current_user && current_user.is_admin == 1 %>
  (<%= link_to t(:edit, :scope => [:politwoops]), edit_politician_path(tweet.politician) %>)
  <% end %>
	: <%= auto_link(tweet.content) %>
    </div>
    <div class="byline">
        <a href="http://twitter.com/<%= tweet.politician.user_name %>" class="twitter"><%= tweet.details['user']['name'] %></a>
		<% source = tweet.details["source"].to_s.html_safe %>
		<% tweet_when = "<a href=\"/tweet/#{tweet.id}\">#{time_ago_in_words(tweet.modified)}</a>" %>
	    <%= t(:byline, :scope => [:politwoops, :tweets], :when => tweet_when, :what => source).html_safe %>
    </div>
    <div class="clear">
    </div>
  </div>
  <div class="actions">
      <% if tweet[:deleted] %>
      <%= link_to t(:yes_label, :scope => [:politwoops]), "/game/typos/update/%s?deleted_tweet[typo_checked]=%s" % [tweet.id, 1], :class => "button-small" %>
      <%= link_to t(:no_label, :scope => [:politwoops]), "/game/typos/update/%s?deleted_tweet[typo_checked]=%s" % [tweet.id, 0], :class => "button-small" %>
      <% end %>
  </div>
  <div class="clear">
  </div>
</div>
